@use "../helpers/mixin";

.alert {
  $this: &;

  --ds-alert-border-radius: var(--ds-border-radius-md);
  --ds-alert-padding: var(--ds-space-12) var(--ds-space-20);

  --ds-alert-information-bg: var(--ds-color-bg-info-lighter);
  --ds-alert-information-border-color: var(--ds-color-border-info);

  --ds-alert-success-bg: var(--ds-color-bg-success-lighter);
  --ds-alert-success-border-color: var(--ds-color-border-success);

  --ds-alert-warning-bg: var(--ds-color-bg-warning-lighter);
  --ds-alert-warning-border-color: var(--ds-color-border-warning);

  --ds-alert-danger-bg: var(--ds-color-bg-danger-lighter);
  --ds-alert-danger-border-color: var(--ds-color-border-danger);

  --ds-alert-discovery-bg: var(--ds-color-bg-discovery-lighter);
  --ds-alert-discovery-border-color: var(--ds-color-border-discovery);

  padding: var(--ds-alert-padding);

  &--inline {
    border: 1px solid;
    border-radius: var(--ds-alert-border-radius);

    #{$this}__content {
      @include mixin.align-items(flex-start);
    }
    #{$this}__actions {
      margin-top: var(--ds-space-12);
    }
  }

  &--sticky {
    #{$this}__content {
      @include mixin.align-items(center);
    }
    #{$this}__text {
      @include mixin.flexbox;
      @include mixin.justify-content(space-between);
      @include mixin.align-items(center);
    }
    #{$this}__actions {
      margin-left: var(--ds-space-8);
      white-space: nowrap;
    }
  }

  &--information {
    background-color: var(--ds-alert-information-bg);
    border-color: var(--ds-alert-information-border-color)
  }

  &--discovery {
    background-color: var(--ds-alert-discovery-bg);
    border-color: var(--ds-alert-discovery-border-color)
  }

  &--success {
    background-color: var(--ds-alert-success-bg);
    border-color: var(--ds-alert-success-border-color)
  }

  &--warning {
    background-color: var(--ds-alert-warning-bg);
    border-color: var(--ds-alert-warning-border-color)
  }

  &--error {
    background-color: var(--ds-alert-danger-bg);
    border-color: var(--ds-alert-danger-border-color)
  }

  &__content {
    @include mixin.flexbox;
  }

  &__text {
    flex: 1;
  }
}