@use "../helpers/mixin";

.avatar {
  $this: &;

  --ds-avatar-size-xl: var(--ds-size-80);
  --ds-avatar-size-lg: var(--ds-size-56);
  --ds-avatar-size-md: var(--ds-size-40);
  --ds-avatar-size-sm: var(--ds-size-32);
  --ds-avatar-size-xs: var(--ds-size-24);
  --ds-avatar-size-xxs: var(--ds-size-16);

  --ds-avatar-font-size-xl: var(--ds-headline-sm);
  --ds-avatar-font-size-lg: var(--ds-paragraph-lg);
  --ds-avatar-font-size-md: var(--ds-paragraph-md);
  --ds-avatar-font-size-sm: var(--ds-paragraph-sm);
  --ds-avatar-font-size-xs: var(--ds-paragraph-xs);
  --ds-avatar-font-size-xxs: var(--ds-paragraph-xxs);

  --ds-avatar-default-bg: var(--yellow-200);
  --ds-avatar-default-bg-hover: var(--yellow-100);
  --ds-avatar-default-color: var(--yellow-900);

  --ds-avatar-purple-bg: var(--purple-100);
  --ds-avatar-purple-bg-hover: var(--purple-50);
  --ds-avatar-purple-color: var(--purple-500);

  --ds-avatar-green-bg: var(--green-100);
  --ds-avatar-green-bg-hover: var(--green-50);
  --ds-avatar-green-color: var(--green-700);

  --ds-avatar-blue-bg: var(--blue-100);
  --ds-avatar-blue-bg-hover: var(--blue-50);
  --ds-avatar-blue-color: var(--blue-700);

  --ds-avatar-red-bg: var(--red-100);
  --ds-avatar-red-bg-hover: var(--red-50);
  --ds-avatar-red-color: var(--red-800);

  --ds-avatar-count-bg: var(--ds-color-bg-success-lighter);
  --ds-avatar-count-bg-hover: var(--ds-color-bg-success-light);
  --ds-avatar-count-border: var(--ds-border-strong) solid var(--ds-color-border-inverse);
  --ds-avatar-count-color: var(--ds-color-text-brand);
  --ds-avatar-count-font-weight: var(--ds-font-weight-strong);

  --ds-avatar-image-border: var(--ds-border-thin) solid var(--grey-200);

  --ds--avtar-border-radius: var(--ds-border-radius-full);
  --ds-avatar-font: var(--ds-font-weight-default) var(--ds-headline-sm)/1 var(--ds-font-family);
  --ds-avatar-transition: background-color .3s linear, color .3s linear;

  --ds-avatar-icon-size: var(--ds-size-24);
  --ds-avatar-icon-shadow: var(--ds-shadow-1);
  --ds-avatar-icon-border-radius: var(--ds-border-radius-full);
  --ds-avatar-icon-bg: var(--ds-color-bg-white);
  --ds-avatar-icon-position:  5px 5px;

  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  position: relative;
  text-transform: capitalize;
  font: var(--ds-avatar-font);
  border-radius: var(--ds--avtar-border-radius);
  cursor: pointer;
  transition: var(--ds-avatar-transition);
  background: no-repeat center;
  background-size: cover;

  &--xlarge {
    width: var(--ds-avatar-size-xl);
    min-width: var(--ds-avatar-size-xl);
    height: var(--ds-avatar-size-xl);
    font-size: var(--ds-avatar-font-size-xl);
  }
  &--large {
    width: var(--ds-avatar-size-lg);
    min-width: var(--ds-avatar-size-lg);
    height: var(--ds-avatar-size-lg);
    font-size: var(--ds-avatar-font-size-lg);
  }
  &--medium {
    width: var(--ds-avatar-size-md);
    min-width: var(--ds-avatar-size-md);
    height: var(--ds-avatar-size-md);
    font-size: var(--ds-avatar-font-size-md);
  }
  &--small {
    width: var(--ds-avatar-size-sm);
    min-width: var(--ds-avatar-size-sm);
    height: var(--ds-avatar-size-sm);
    font-size: var(--ds-avatar-font-size-sm);
  }
  &--xsmall {
    width: var(--ds-avatar-size-xs);
    min-width: var(--ds-avatar-size-xs);
    height: var(--ds-avatar-size-xs);
    font-size: var(--ds-avatar-font-size-xs);
  }
  &--xxsmall {
    width: var(--ds-avatar-size-xxs);
    min-width: var(--ds-avatar-size-xxs);
    height: var(--ds-avatar-size-xxs);
    font-size: var(--ds-avatar-font-size-xxs);
  }

  &--xsmall, &--xxsmall {
    font-weight: var(--ds-font-weight-active);
  }

  &--default {
    background-color: var(--ds-avatar-default-bg);
    color: var(--ds-avatar-default-color);

    &:hover {
      background-color: var(--ds-avatar-default-bg-hover);
    }
  }

  &--purple {
    background-color: var(--ds-avatar-purple-bg);
    color: var(--ds-avatar-purple-color);

    &:hover {
      background-color: var(--ds-avatar-purple-bg-hover);
    }
  }
  &--green {
    background-color: var(--ds-avatar-green-bg);
    color: var(--ds-avatar-green-color);

    &:hover {
      background-color: var(--ds-avatar-green-bg-hover);
    }
  }
  &--blue {
    background-color: var(--ds-avatar-blue-bg);
    color: var(--ds-avatar-blue-color);

    &:hover {
      background-color: var(--ds-avatar-blue-bg-hover);
    }
  }
  &--red {
    background-color: var(--ds-avatar-red-bg);
    color: var(--ds-avatar-red-color);

    &:hover {
      background-color: var(--ds-avatar-red-bg-hover);
    }
  }

  &--count {
    background-color: var(--ds-avatar-count-bg);
    color: var(--ds-avatar-count-color);
    border: var(--ds-avatar-count-border);
    font-weight: var(--ds-avatar-count-font-weight);

    &:hover {
      background-color: var(--ds-avatar-count-bg-hover);
    }
  }

  &--image {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: var(--ds--avtar-border-radius);
      border: var(--ds-avatar-image-border);
      opacity: 0;
      transition: opacity .3s linear;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

.avatar-group {
  $this: &;

  --ds-avatar-group-item-space-xl: var(--ds-space-32);
  --ds-avatar-group-item-space-lg: var(--ds-space-20);
  --ds-avatar-group-item-space-md: var(--ds-space-16);
  --ds-avatar-group-item-space-sm: var(--ds-space-12);
  --ds-avatar-group-item-space-xs: var(--ds-space-8);
  --ds-avatar-group-item-space-xxs: var(--ds-space-6);

  --ds-avatar-group-add-border:  var(--ds-border-thin) dashed var(--ds-color-border-tertiary);
  --ds-avatar-group-add-bg: var(--ds-color-bg-white);
  --ds-avatar-group-add-bg-hover: var(--ds-color-bg-container-lighter);

  @include mixin.flexbox;
  width: fit-content;

  &--xlarge {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-xl)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-xl)
    }
  }
  &--large {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-lg)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-lg)
    }
  }
  &--medium {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-md)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-md)
    }
  }
  &--small {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-sm)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-sm)
    }
  }
  &--xsmall {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-xs)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-xs)
    }
  }
  &--xxsmall {
    #{$this}__item {
      margin-left: calc(var(--ds-avatar-group-item-space-xxs)*-1);
    }

    #{$this}__add {
      margin-left: var(--ds-avatar-group-item-space-xxs)
    }
  }

  &__item {
    &:first-child {
      margin-left: 0;
    }
  }

  &__add {
    border: var(--ds-avatar-group-add-border);
    background-color: var(--ds-avatar-group-add-bg);

    &:hover {
      background-color: var(--ds-avatar-group-add-bg-hover);
    }
  }
}