@import "../shared";

.badge {
  $this: &;

  --ds-badge-primary-bg: var(--pink-500);
  --ds-badge-secondary-bg: var(--grey-50);
  --ds-badge-primary-color: var(--ds-color-text-inverse);
  --ds-badge-secondary-color: var(--ds-color-text-primary);

  --ds--badge-border-radius: var(--ds-border-radius-lg);
  --ds-badge-padding-lg: var(--ds-space-6);
  --ds-badge-padding-sm: var(--ds-space-4);
  --ds-badge-inner-padding-lg: 0 var(--ds-space-2);
  --ds-badge-inner-padding-sm: 0 var(--ds-space-4);
  --ds-badge-font: var(--ds-font-weight-default) var(--ds-paragraph-xs)/var(--ds-line-height-default) var(--ds-font-family);

  @include inline-flex;
  @include align-items(center);
  border-radius: var(--ds--badge-border-radius);

  &__inner {
    font: var(--ds-badge-font);
  }

  &--primary {
    background-color: var(--ds-badge-primary-bg);
    color: var(--ds-badge-primary-color)
  }

  &--secondary {
    background-color: var(--ds-badge-secondary-bg);
    color: var(--ds-badge-secondary-color);
  }

  &--large {
    padding: var(--ds-badge-padding-lg);

    #{$this}__inner {
      padding: var(--ds-badge-inner-padding-lg);
    }
  }

  &--small {
    padding: var(--ds-badge-padding-sm);

    #{$this}__inner {
      padding: var(--ds-badge-inner-padding-sm);
    }
  }
}