.breadcrumb {
    $this: &;

    --ds-breadcrumb-color-default: var(--ds-color-text-tertiary);
    --ds-breadcrumb-color-hover: var(--ds-color-text-secondary);
    --ds-breadcrumb-color-selected: var(--ds-color-text-primary);
    --ds-breadcrumb-font: var(--ds-font-weight-default) var(--ds-paragraph-std) var(--ds-font-family);

    --ds-breadcrumb-divider: var(--ds-color-text-tertiary);
    --ds-breadcrumb-transition: color 0.3s linear;

    position: relative;
    font: var(--ds-breadcrumb-font);

    &__item {
        &:after {
            content: '/';
            padding: 0 6px;
            color: var(--ds-breadcrumb-divider)
        }

        &:last-child {
            &:after {
                content: none;
            }
        }

        &__inner {
            color: var(--ds-breadcrumb-color-default);
            transition: var(--ds-breadcrumb-transition);

            &:hover {
                cursor: pointer;
                color: var(--ds-breadcrumb-color-hover);
            }

            &.selected {
                cursor: default;
                color: var(--ds-breadcrumb-color-selected);
            }
        }
    }
}
