@use "../helpers/mixin";

.btn {
  $this: &;

  //----------- component specific tokens -------------//

  --ds-button-size-lg: var(--ds-size-40);
  --ds-button-size-md: var(--ds-size-32);
  --ds-button-size-sm: var(--ds-size-24);

  --ds-button-padding-lg: 0 var(--ds-space-16);
  --ds-button-padding-md: 0 var(--ds-space-12);
  --ds-button-padding-sm: 0 var(--ds-space-12);

  --ds-button-font-size-lg: var(--ds-paragraph-std);
  --ds-button-font-size-md: var(--ds-paragraph-std);
  --ds-button-font-size-sm: var(--ds-paragraph-sm);

  --ds-button-font-family: var(--ds-font-family);
  --ds-button-font-weight: var(--ds-font-weight-active);
  --ds-button-line-height: var(--ds-line-height-default);

  --ds-button-primary-bg: var(--ds-color-bg-brand);
  --ds-button-primary-bg-hover: var(--brand-300);
  --ds-button-primary-bg-pressed: var(--ds-color-bg-brand-dark);
  --ds-button-primary-bg-focused: var(--ds-color-bg-brand-darker);
  --ds-button-primary-bg-disabled: var(--ds-color-bg-disabled);
  --ds-button-primary-shadow-focused: var(--ds-shadow-brand-2);
  --ds-button-primary-text-default: var(--ds-color-text-inverse);
  --ds-button-primary-text-disabled: var(--ds-color-text-disabled);

  --ds-button-secondary-bg: var(--ds-color-bg-white);
  --ds-button-secondary-bg-hover: var(--ds-color-bg-container-light);
  --ds-button-secondary-bg-pressed: var(--ds-color-bg-container);
  --ds-button-secondary-bg-focused: var(--ds-color-bg-container);
  --ds-button-secondary-bg-disabled: var(--ds-color-bg-white);
  --ds-button-secondary-shadow-focused: var(--ds-shadow-brand-2);
  --ds-button-secondary-text-default: var(--ds-color-text-primary);
  --ds-button-secondary-text-disabled: var(--ds-color-text-disabled);
  --ds-button-secondary-border-color: var(--ds-color-border-tertiary);
  --ds-button-secondary-border-color-pressed: var(--ds-color-border-secondary);
  --ds-button-secondary-border-color-focused: var(--ds-color-border-secondary);
  --ds-button-secondary-border-color-disabled: var(--ds-color-border-tertiary);

  --ds-button-tertiary-bg: transparent;
  --ds-button-tertiary-bg-hover: var(--ds-color-bg-container-lighter);
  --ds-button-tertiary-bg-pressed: var(--ds-color-bg-container-light);
  --ds-button-tertiary-bg-focused: var(--ds-color-bg-container);
  --ds-button-tertiary-bg-disabled: var(--ds-color-bg-white);
  --ds-button-teritary-shadow-focused: var(--ds-shadow-brand-2);
  --ds-button-tertiary-text-default: var(--ds-color-text-primary);
  --ds-button-tertiary-text-disabled: var(--ds-color-text-disabled);

  --ds-button-danger-bg: var(--ds-color-bg-danger-dark);
  --ds-button-danger-bg-hover: var(--ds-color-bg-danger);
  --ds-button-danger-bg-pressed: var(--ds-color-bg-danger-dark);
  --ds-button-danger-bg-focused: var(--ds-color-bg-danger-darker);
  --ds-button-danger-bg-disabled: var(--ds-color-bg-disabled);
  --ds-button-danger-shadow-focused: var(--ds-shadow-danger);
  --ds-button-danger-text-default: var(--ds-color-text-inverse);
  --ds-button-danger-text-disabled: var(--ds-color-text-disabled);

  --ds-button-text: var(--ds-color-text-primary);
  --ds-button-text-hover: var(--ds-color-text-secondary);
  --ds-button-text-pressed: var(--ds-color-text-tertiary);
  --ds-button-text-focused: var(--ds-color-text-primary);
  --ds-button-text-disabled: var(--ds-color-text-disabled);
  --ds-button-text-shadow-focused: var(--ds-shadow-brand-2);

  --ds-button-icon-margin-lg: var(--ds-space-8);
  --ds-button-icon-margin-md: var(--ds-space-8);
  --ds-button-icon-margin-sm: var(--ds-space-4);

  --ds-button-border-radius-lg: var(--ds-border-radius-lg);
  --ds-button-border-radius-md: var(--ds-border-radius-md);
  --ds-button-border-radius-sm: var(--ds-border-radius-sm);

  --ds-button-transition: background-color .3s linear, color .3s linear, border-color .3s linear;

  //----------//

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--ds-button-font-family);
  font-weight: var(--ds-button-font-weight);
  line-height: var(--ds-button-line-height);

  &[disabled] {
    cursor: default;
  }

  &--large {
    height: var(--ds-button-size-lg);
    padding: var(--ds-button-padding-lg);
    font-size: var(--ds-button-font-size-lg);
    border-radius: var(--ds-button-border-radius-lg);
  }

  &--medium {
    height: var(--ds-button-size-md);
    padding: var(--ds-button-padding-md);
    font-size: var(--ds-button-font-size-md);
    border-radius: var(--ds-button-border-radius-md);
  }

  &--small {
    height: var(--ds-button-size-sm);
    padding: var(--ds-button-padding-sm);
    font-size: var(--ds-button-font-size-sm);
    border-radius: var(--ds-button-border-radius-sm);
  }

  &--primary {
    background-color: var(--ds-button-primary-bg);
    color: var(--ds-button-primary-text-default);

    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--ds-button-primary-bg-hover);
      }

      &:active {
        background-color: var(--ds-button-primary-bg-pressed);
      }

      &[disabled] {
        background-color: var(--ds-button-primary-bg-disabled);
        color: var(--ds-button-primary-text-disabled);

        #{$this}__icon {
          path {
            fill: var(--ds-button-danger-text-disabled);
          }
        }
      }
    }

    #{$this}__icon {
      path {
        fill: var(--ds-button-primary-text-default);
      }
    }
  }

  &--secondary {
    background-color: var(--ds-button-secondary-bg);
    color: var(--ds-button-secondary-text-default);
    border: 1px solid;
    border-color: var(--ds-button-secondary-border-color);

    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--ds-button-secondary-bg-hover);
      }

      &:active {
        background-color: var(--ds-button-secondary-bg-pressed);
        border-color: var(--ds-button-secondary-border-color-pressed);
      }

      &[disabled] {
        background-color: var(--ds-button-secondary-bg-disabled);
        color: var(--ds-button-secondary-text-disabled);
        border-color: var(--ds-button-secondary-border-color-disabled);

        #{$this}__icon {
          path {
            fill: var(--ds-button-secondary-text-disabled);
          }
        }
      }
    }

    #{$this}__icon {
      path {
        fill: var(--ds-button-secondary-text-default);
      }
    }
  }

  &--tertiary {
    background-color: var(--ds-button-tertiary-bg);
    color: var(--ds-button-tertiary-text-default);

    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--ds-button-tertiary-bg-hover);
      }

      &:active {
        background-color: var(--ds-button-tertiary-bg-pressed);
      }

      &[disabled] {
        background-color: var(--ds-button-tertiary-bg-disabled);
        color: var(--ds-button-tertiary-text-disabled);

        #{$this}__icon {
          path {
            fill: var(--ds-button-secondary-text-disabled);
          }
        }
      }
    }

    #{$this}__icon {
      path {
        fill: var(--ds-button-tertiary-text-default);
      }
    }
  }

  &--danger {
    background-color: var(--ds-button-danger-bg);
    color: var(--ds-button-danger-text-default);

    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--ds-button-danger-bg-hover);
      }

      &:active {
        background-color: var(--ds-button-danger-bg-pressed);
      }

      &[disabled] {
        background-color: var(--ds-button-danger-bg-disabled);
        color: var(--ds-button-danger-text-disabled);

        #{$this}__icon {
          path {
            fill: var(--ds-button-secondary-text-disabled);
          }
        }
      }
    }

    #{$this}__icon {
      path {
        fill: var(--ds-button-danger-text-default);
      }
    }
  }

  &--text {
    padding: 0;
    width: auto;
    background: none;
    color: var(--ds-button-text);

    #{$this}__icon {
      path {
        fill: var(--ds-button-text);
      }
    }

    #{$this}__text {
      text-decoration: underline;
    }

    &:not(#{$this}--loading) {
      &:hover {
        color: var(--ds-button-text-hover);

        #{$this}__icon {
          path {
            fill: var(--ds-button-text-hover);
          }
        }
      }

      &:active {
        color: var(--ds-button-text-pressed);

        #{$this}__icon {
          path {
            fill: var(--ds-button-text-pressed);
          }
        }
      }


      &[disabled] {
        color: var(--ds-button-text-disabled);

        #{$this}__icon {
          path {
            fill: var(--ds-button-text-disabled);
          }
        }
      }
    }
  }

  &--icon-left {
    #{$this}__icon {
      margin-left: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-right: var(--ds-button-icon-margin-lg);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-right: var(--ds-button-icon-margin-md);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-right: var(--ds-button-icon-margin-sm);
      }
    }
  }

  &--icon-right {
    #{$this}__icon {
      order: 1;
      margin-right: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-left: var(--ds-button-icon-margin-lg);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-left: var(--ds-button-icon-margin-md);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-left: var(--ds-button-icon-margin-sm);
      }
    }
  }

  &--icon {
    padding: 0;

    &#{$this}--large {
      width: var(--ds-button-size-lg);
      min-width: var(--ds-button-size-lg);
    }

    &#{$this}--medium {
      width: var(--ds-button-size-md);
      min-width: var(--ds-button-size-md);
    }

    &#{$this}--small {
      width: var(--ds-button-size-sm);
      min-width: var(--ds-button-size-sm);
    }
  }
}