@use "../helpers/mixin";

.btn-icon {
  $this: &;

  //----------- component specific tokens -------------//

  --ds-button-icon-size-lg: var(--ds-size-32);
  --ds-button-icon-size-md: var(--ds-size-28);
  --ds-button-icon-size-sm: var(--ds-size-24);

  --ds-button-icon-bg: transparent;
  --ds-button-icon-bg-hover: var(--ds-color-bg-container-light);
  --ds-button-icon-bg-disabled: transparent;
  --ds-button-icon-bg-pressed: var(--ds-color-bg-container-dark);
  --ds-button-icon-bg-focused: var(--ds-color-bg-container-light);

  --ds-button-icon-border-radius: var(--ds-border-radius-md);

  --ds-button-icon-shadow-focused: var(--ds-shadow-brand-2);
  --ds-button-icon-transition: background-color .3s linear, color .3s linear, border-color .3s linear;

  //----------//

  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: var(--ds-button-icon-bg);
  color: var(--ds-button-icon-text-default);
  border-radius: var(--ds-button-icon-border-radius);

  &:not(&[disabled]) {
    &:hover {
      background-color: var(--ds-button-icon-bg-hover);
    }

    &:active {
      background-color: var(--ds-button-icon-bg-pressed);
    }

    &:focus {
      box-shadow: var(--ds-button-icon-shadow-focused);
      background-color: var(--ds-button-icon-bg-focused);
    }
  }

  &[disabled] {
    cursor: default;
    background-color: var(--ds-button-icon-bg-disabled);
  }

  &--large {
    height: var(--ds-button-icon-size-lg);
    width: var(--ds-button-icon-size-lg);
    min-width: var(--ds-button-icon-size-lg);
  }

  &--medium {
    height: var(--ds-button-icon-size-md);
    width: var(--ds-button-icon-size-md);
    min-width: var(--ds-button-icon-size-md);
  }

  &--small {
    height: var(--ds-button-icon-size-sm);
    width: var(--ds-button-icon-size-sm);
    min-width: var(--ds-button-icon-size-sm);
  }
}
