@use "../helpers/mixin";

.card-body {
  $this: &;

  --ds-card-body-bg: var(--ds-color-bg-container-lighter);
  --ds-card-body-padding: var(--ds-space-32);
  --ds-card-body-border: 1px solid var(--ds-color-border-quintary);
  --ds-card-body-border-radius: var(--ds-border-radius-3xl);

  --ds-card-body-image-size: 200px;

  background-color: var(--ds-card-body-bg);
  padding: var(--ds-card-body-padding);
  border: var(--ds-card-body-border);
  border-radius: var(--ds-card-body-border-radius);
  text-align: center;

  &__image {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    width: var(--ds-card-body-image-size);
    height: var(--ds-card-body-image-size);
    margin: auto;
  }
}