@use "../helpers/mixin";

.card-select {
  $this: &;


  --ds-card-select-bg-default: var(--ds-color-bg-white);
  --ds-card-select-bg-hover: var(--ds-color-bg-container-lighter);
  --ds-card-select-bg-active: var(--ds-color-bg-white);
  --ds-card-select-bg-selected: var(--ds-color-bg-white);

  --ds-card-select-border-color-default: var(--ds-color-border-tertiary);
  --ds-card-select-border-color-hover: var(--ds-color-border-secondary);
  --ds-card-select-border-color-active: var(--ds-color-border-tertiary);
  --ds-card-select-border-color-selected: var(--ds-color-border-brand);
  --ds-card-select-border-color-disabled: var(--ds-color-border-disabled);

  --ds-card-select-border-radius: var(--ds-border-radius-2xl);
  --ds-card-select-padding: var(--ds-space-16);
  --ds-card-select-shadow-focused: var(--ds-shadow-brand-2);
  --ds-card-select-shadow-selected: var(--ds-shadow-brand-1);

  --ds-card-select-image-size: var(--ds-size-64);

  --ds-card-select-icon-size: var(--ds-size-40);
  --ds-card-select-icon-bg: var(--ds-color-bg-container);
  --ds-card-select-icon-border-radius: var(--ds-border-radius-xl);

  border-radius: var(--ds-card-select-border-radius);
  padding: var(--ds-card-select-padding);
  background-color: var(--ds-card-select-bg-default);
  border: 1px solid var(--ds-card-select-border-color-default);
  width: 100%;
  @include mixin.flexbox;

  &:not(&#{$this}--disabled, &#{$this}--selected) {
    &:hover {
      cursor: pointer;
      border-color: var(--ds-card-select-border-color-hover);
      background-color: var(--ds-card-select-bg-hover);
    }

    &:active {
      border-color: var(--ds-card-select-border-color-active);
      box-shadow: var(--ds-card-select-shadow-focused);
      background-color: var(--ds-card-select-bg-active);
    }
  }

  &--selected {
    border-color: var(--ds-card-select-border-color-selected);
    background-color: var(--ds-card-select-bg-selected);
    box-shadow: var(--ds-card-select-shadow-selected);

  }

  &--disabled {
    border-color: var(--ds-card-select-border-color-disabled);

    #{$this}__image {
      opacity: .4;
    }
  }

  &__image {
    width: var(--ds-card-select-image-size);
    min-width: var(--ds-card-select-image-size);
  }

  &__icon {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    width: var(--ds-card-select-icon-size);
    min-width: var(--ds-card-select-icon-size);
    height: var(--ds-card-select-icon-size);
    background-color: var(--ds-card-select-icon-bg);
    border-radius: var(--ds-card-select-icon-border-radius);
  }

  &__content {
    flex: 1;
  }
}

.card-select-group {
  --ds-card-select-group-space: var(--ds-space-16);

  &__item {
    margin-bottom: var(--ds-card-select-group-space);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
