@use "../helpers/mixin";

.collapse {
    $this: &;

    --ds-collapse-border-radius: var(--ds-border-radius-xs);
    --ds-collapse-border: 1px solid var(--ds-color-border-tertiary);
    --ds-collapse-bg: var(--ds-color-bg-white);

    --ds-collapse-header-size: var(--ds-space-56);
    --ds-collapse-header-space: var(--ds-space-16) var(--ds-space-24);

    --ds-collapse-content-space: 0 var(--ds-space-16) var(--ds-space-24);

    --ds-collapse-divider-space: 0 0 var(--ds-space-16);

    border-radius: var(--ds-collapse-border-radius);
    border: var(--ds-collapse-border);
    background-color: var(--ds-collapse-bg);
    overflow: hidden;

    &--opened {
        #{$this}__header{
            &__icon {
                transition: transform 300ms ease 0s, color 300ms ease-in-out 0s;
                transform: rotate(90deg);
            }
        }
    }

    &__header{
        height: var(--ds-collapse-header-size);
        padding: var(--ds-collapse-header-space);
        cursor: pointer;
        width: 100%;

        &__icon {
            transition: transform 300ms ease 0s, color 300ms ease-in-out 0s;
            transform: rotate(0);
        }
    }

    &__content {
        padding: var(--ds-collapse-content-space);
    }

    &__divider {
        margin: var(--ds-collapse-divider-space);
    }
}

.collapse-group {
    --ds-collapse-group-item-space: var(--ds-space-8);

    &__item {
        margin-bottom: var(--ds-collapse-group-item-space);

        &:last-child {
            margin-bottom: 0;
        }
    }
}