@use "../helpers/mixin";

.item-select {
  $this: &;

  --ds-item-select-bg-default: var(--ds-color-bg-white);
  --ds-item-select-bg-hover: var(--ds-color-bg-container-lighter);
  --ds-item-select-bg-active: var(--ds-color-bg-white);
  --ds-item-select-padding: var(--ds-space-12) var(--ds-space-16);
  --ds-item-select-border-radius: var(--ds-border-radius-xl);
  --ds-item-select-border-color: var(--ds-color-border-tertiary);
  --ds-item-select-border-color-hover: var(--ds-color-border-tertiary);
  --ds-item-select-border-color-selected: var(--ds-color-border-brand);
  --ds-item-select-border-color-disabled: var(--ds-color-border-disabled);

  --ds-item-select-shadow-active: var(--ds-shadow-brand-2);

  --ds-item-select-image-width: 40px;
  --ds-item-select-image-height: var(--ds-size-28);
  --ds-item-select-image-border-radius: var(--ds-border-radius-xs);
  --ds-item-select-image-bg-default: var(--ds-color-bg-white);

  @include mixin.flexbox;
  @include mixin.align-items(center);
  border-radius: var(--ds-item-select-border-radius);
  padding: var(--ds-item-select-padding);
  background-color: var(--ds-item-select-bg-default);
  border: 1px solid var(--ds-item-select-border-color);

  &:not(&#{$this}--disabled, &#{$this}--selected) {
    &:hover {
      cursor: pointer;
      background-color: var(--ds-item-select-bg-hover);
      border-color: var(--ds-item-select-border-color-hover);
    }

    &:active {
      background-color: var(--ds-item-select-bg-active);
      box-shadow: var(--ds-item-select-shadow-active);
    }
  }

  &--selected {
    cursor: default;
    border-color: var(--ds-item-select-border-color-selected);
  }

  &--disabled {
    cursor: default;
    border-color: var(--ds-item-select-border-color-disabled);

    #{$this}__left {
      opacity: .4;
    }
  }

  &__content {
    flex: 1;
  }

  &__image {
    width: var(--ds-item-select-image-width);
    height: var(--ds-item-select-image-height);
    min-width: var(--ds-item-select-image-size);
    border-radius: var(--ds-item-select-image-border-radius);
    background-color: var(--ds-item-select-image-bg-default);
  }

  &__radio {
    pointer-events: none;
  }
}

.item-select-group {
  $this: &;

  --ds-item-select-group-item-space: var(--ds-space-12);

  &:not(&#{$this}--horizontal) {
    .item-select {
      width: 100%;
      margin-bottom: var(--ds-item-select-group-item-space);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--horizontal {
    @include mixin.flexbox;

    @media (max-width: 576px) {
      @include mixin.flex-direction(column);
    }

    .item-select {
      @media (max-width: 576px) {
        margin-bottom: var(--ds-item-select-group-item-space);

        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: 577px) {
        flex: 1;
        margin-right: var(--ds-item-select-group-item-space);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}