@use "../helpers/mixin";

.link {
  $this: &;


  --ds-link-primary-color: var(--ds-color-text-primary);
  --ds-link-primary-color-hover: var(--ds-color-text-secondary);
  --ds-link-primary-color-pressed: var(--ds-color-text-tertiary);
  --ds-link-primary-color-focused: var(--ds-color-text-primary);

  --ds-link-secondary-color: var(--ds-color-text-secondary);
  --ds-link-secondary-color-hover: var(--ds-color-text-primary);
  --ds-link-secondary-color-pressed: var(--ds-color-text-tertiary);
  --ds-link-secondary-color-focused: var(--ds-color-text-primary);

  --ds-link-disabled-color: var(--ds-color-text-disabled);

  --ds-link-shadown-focused: var(--ds-shadow-brand-2);

  --ds-link-icon-space: var(--ds-space-4);

  --ds-link-transition: background-color .3s linear, color .3s linear, border-color .3s linear;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  text-decoration: underline;
  transition: var(--ds-link-transition);

  &:not(&--disabled) {
    &:focus {
      box-shadow: var(--ds-link-shadown-focused);
      border-radius: var(--ds-border-radius-xs);
    }

    &#{$this}--primary {
      color: var(--ds-link-primary-color);

      &:hover {
        color: var(--ds-link-primary-color-hover);

        #{$this}__icon {
          path {
            fill: var(--ds-link-primary-color-hover);
          }
        }
      }

      &:active {
        color: var(--ds-link-primary-color-pressed);

        #{$this}__icon {
          path {
            fill: var(--ds-link-primary-color-pressed);
          }
        }
      }

      &:focus {
        color: var(--ds-link-primary-color-focused);

        #{$this}__icon {
          path {
            fill: var(--ds-link-primary-color-focused);
          }
        }
      }
    }

    &#{$this}--secondary {
      color: var(--ds-link-secondary-color);

      &:hover {
        color: var(--ds-link-secondary-color-hover);

        #{$this}__icon {
          path {
            fill: var(--ds-link-secondary-color-hover);
          }
        }
      }

      &:active {
        color: var(--ds-link-secondary-color-pressed);

        #{$this}__icon {
          path {
            fill: var(--ds-link-secondary-color-pressed);
          }
        }
      }

      &:focus {
        color: var(--ds-link-secondary-color-focused);

        #{$this}__icon {
          path {
            fill: var(--ds-link-secondary-color-focused);
          }
        }
      }
    }
  }



  &--disabled {
    color: var(--ds-link-disabled-color);

    #{$this}__icon {
      path {
        fill: var(--ds-link-disabled-color);
      }
    }
  }

  &--icon-left {
    #{$this}__icon {
      margin-right: var(--ds-link-icon-space);
    }
  }

  &--icon-right {
    #{$this}__icon {
      order: 1;
      margin-left: var(--ds-link-icon-space);
    }
  }
}