@import "../helpers/mixin";

.link {
  $this: &;

  --ds-link-text-defult: var(--ds-color-text-brand);
  --ds-link-text-hover: var(--ds-color-text-brand);
  --ds-link-text-pressed: var(--brand-600);
  --ds-link-text-focused: var(--brand-700);

  --ds-link-transition: background-color .3s linear, color .3s linear, border-color .3s linear;

  color: var(--ds-link-text-defult);
  transition: var(--ds-link-transition);
  text-decoration: none;

  &:hover {
    color: var(--ds-link-text-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--ds-link-text-pressed);
  }

  &:focus {
    color: var(--ds-link-text-focused);
  }
}