@use "../helpers/mixin";

.modal {
  $this: &;

  --ds-modal-size-xl: 720px;
  --ds-modal-size-lg: 600px;
  --ds-modal-size-md: 500px;
  --ds-modal-size-sm: 400px;

  --ds-modal-overlay-bg: var(--overlay-10);
  --ds-modal-overlay-padding: var(--ds-space-20);
  --ds-modal-bg: var(--ds-color-bg-white);
  --ds-modal-border-radius: var(--ds-border-radius-2xl);
  --ds-modal-shadow: var(--shadow-7);

  --ds-modal-header-padding-lg: var(--ds-space-32) var(--ds-space-32) 0;
  --ds-modal-header-padding-sm: var(--ds-space-24) var(--ds-space-24) 0;

  --ds-modal-content-padding-lg: var(--ds-space-32) var(--ds-space-32);
  --ds-modal-content-padding-sm: var(--ds-space-24);

  --ds-modal-footer-padding-lg: var(--ds-space-20) var(--ds-space-32);
  --ds-modal-footer-padding-sm: var(--ds-space-20) var(--ds-space-24);
  --ds-modal-footer-border-width: var(--ds-border-thin);
  --ds-modal-footer-border-color: var(--ds-color-divider);

  --ds-modal-icon-size: var(--ds-size-48);
  --ds-modal-icon-border-radius: var(--ds-border-radius-sm);

  @include mixin.fixed(0,0,0,0);
  @include mixin.flexbox;
  @include mixin.justify-content(center);
  @include mixin.align-items(center);
  height: 100%;
  width: 100%;
  z-index: 99999;
  padding: var(--ds-modal-overlay-padding);
  background-color: var(--ds-modal-overlay-bg);

  &__container {
    @include mixin.flexbox;
    @include mixin.flex-direction(column);
    width: 100%;
    max-height: calc(100vh - calc(var(--ds-modal-overlay-padding) * 2));
    border-radius: var(--ds-modal-border-radius);
    background-color: var(--ds-modal-bg);
    box-shadow: var(--ds-modal-shadow);
  }

  &__header {
    @include mixin.flexbox;
    @include mixin.justify-content(space-between);
    padding: var(--ds-modal-header-padding-lg);

    @include mixin.screen('phablet', max) {
      padding: var(--ds-modal-header-padding-sm);
    }
  }

  &__title {
    @include mixin.truncate(100%);
    flex: 1;
  }

  &__content {
    padding: var(--ds-modal-content-padding-lg);

    @include mixin.screen('phablet', max) {
      padding: var(--ds-modal-content-padding-sm);
    }
  }

  &__footer {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(flex-end);
    padding: var(--ds-modal-footer-padding-lg);
    border-top: var(--ds-modal-footer-border-width) solid var(--ds-modal-footer-border-color);

    @include mixin.screen('phablet', max) {
      @include mixin.justify-content(space-between);
      padding: var(--ds-modal-footer-padding-sm);
    }

    &__btn {
      @include mixin.screen('phablet', max) {
        width: 100%;
      }
    }
  }

  &--xlarge {
    #{$this}__container {
      max-width: var(--ds-modal-size-xl);
    }
  }

  &--large {
    #{$this}__container {
      max-width: var(--ds-modal-size-lg);
    }
  }
  &--medium {
    #{$this}__container {
      max-width: var(--ds-modal-size-md);
    }
  }

  &--small {
    #{$this}__container {
      max-width: var(--ds-modal-size-sm);
    }
  }

  &:not(&#{$this}--confirmation) {
    @include mixin.screen('phablet', max) {
      @include mixin.align-items(flex-end);
      padding: 0;
    }

    #{$this}__container {
      @include mixin.screen('phablet', max) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        animation: show 0.4s ease-in;
        max-width: unset !important;
      }
    }

    &#{$this}--small {
      #{$this}__header {
        padding: var(--ds-modal-header-padding-sm);
      }
      #{$this}__content {
        padding: var(--ds-modal-content-padding-sm);
      }
      #{$this}__footer {
        padding: var(--ds-modal-footer-padding-sm);
      }
    }
  }

  &__close {
    cursor: pointer;
  }

  &__icon {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    width: var(--ds-modal-icon-size);
    height: var(--ds-modal-icon-size);
    border-radius: var(--ds-modal-icon-border-radius);
    margin-left: auto;
    margin-right: auto;
  }

  &--confirmation {
    #{$this}__footer {
      @include mixin.justify-content(space-between);
      padding: 0;
      border-top: 0;

      &__btn {
        width: 100%;
      }
    }

    &#{$this}--large {
      #{$this}__container {
        max-width: var(--ds-modal-size-md);
      }
    }

    &#{$this}--small {
      #{$this}__container {
        max-width: var(--ds-modal-size-sm);
      }
    }
  }
}

@include mixin.keyframes(show) {
  0%   { bottom: -100% }
  100% { bottom: 0; }
}
