@use "../helpers/mixin";

.modal {
  $this: &;

  --ds-modal-size-lg: 720px;
  --ds-modal-size-md: 600px;
  --ds-modal-size-sm: 400px;

  --ds-modal-overlay-bg: var(--ds-overlay-9);
  --ds-modal-overlay-padding: var(--ds-space-16);
  --ds-modal-bg: var(--ds-color-bg-white);
  --ds-modal-border-radius: var(--ds-border-radius-sm);
  --ds-modal-shadow: var(--shadow-7);

  --ds-modal-header-padding: var(--ds-space-16) var(--ds-space-24);

  --ds-modal-content-border-width: var(--ds-border-thin);
  --ds-modal-content-border-color: var(--ds-color-divider);
  --ds-modal-content-padding: var(--ds-space-24);

  --ds-modal-footer-padding: var(--ds-space-16) var(--ds-space-24);

  @include mixin.fixed(0,0,0,0);
  @include mixin.flexbox;
  @include mixin.justify-content(center);
  @include mixin.align-items(center);
  height: 100%;
  width: 100%;
  z-index: 99999;
  padding: var(--ds-modal-overlay-padding);
  background-color: var(--ds-modal-overlay-bg);

  &__container {
    @include mixin.flexbox;
    @include mixin.flex-direction(column);
    width: 100%;
    max-height: calc(100vh - calc(var(--ds-modal-overlay-padding) * 2));
    border-radius: var(--ds-modal-border-radius);
    background-color: var(--ds-modal-bg);
    box-shadow: var(--ds-modal-shadow);
  }

  &__header {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
    padding: var(--ds-modal-header-padding);
    border-bottom: var(--ds-modal-content-border-width) solid var(--ds-modal-content-border-color);
  }

  &__title {
    @include mixin.truncate(100%);
    flex: 1;
  }

  &__content {
    padding: var(--ds-modal-content-padding);
  }

  &__footer {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(flex-end);
    padding: var(--ds-modal-footer-padding);
    border-top: var(--ds-modal-content-border-width) solid var(--ds-modal-content-border-color);
  }

  &--large {
    #{$this}__container {
      max-width: var(--ds-modal-size-lg);
    }
  }
  &--medium {
    #{$this}__container {
      max-width: var(--ds-modal-size-md);
    }
  }

  &--small {
    #{$this}__container {
      max-width: var(--ds-modal-size-sm);
    }
  }

  &__close {
    cursor: pointer;
  }
}

