@use "../helpers/mixin";

.pagination {
  --ds-pagination-item-size-lg: var(--ds-size-40);
  --ds-pagination-item-size-md: var(--ds-size-32);
  --ds-pagination-item-size-sm: var(--ds-size-24);

  --ds-pagination-item-space: var(--ds-space-2);

  --ds-pagination-item-font-size-lg: var(--ds-size-14);
  --ds-pagination-item-font-size-md: var(--ds-size-14);
  --ds-pagination-item-font-size-sm: var(--ds-size-12);

  --ds-pagination-item-color: var(--ds-color-text-secondary);
  --ds-pagination-item-color-selected: var(--ds-color-text-inverse);
  --ds-pagination-item-color-disabled: var(--ds-color-text-disabled);
  --ds-pagination-item-bg: var(--ds-color-bg-white);
  --ds-pagination-item-bg-hover: var(--ds-color-bg-container-light);
  --ds-pagination-item-bg-selected: var(--ds-color-bg-brand);
  --ds-pagination-item-bg-disabled: var(--ds-color-bg-container-lighter);
  --ds-pagination-item-border: 1px solid var(--ds-color-border-tertiary);
  --ds-pagination-item-border-selected: var(--ds-color-border-brand);
  --ds-pagination-item-border-disabled: var(--ds-color-bg-disabled);

  --ds-pagination-item-border-radius: var(--ds-border-radius-xxs);

  @include mixin.flexbox;
  @include mixin.align-items(center);
  list-style-type: none;
  margin-left: calc(var(--ds-pagination-item-space) * -1);
  margin-right: calc(var(--ds-pagination-item-space) * -1);

  &--large {
    li {
      a {
        min-width: var(--ds-pagination-item-size-lg);
        height: var(--ds-pagination-item-size-lg);
        font: var(--ds-font-weight-default) var(--ds-pagination-item-font-size-lg) var(--ds-font-family);
      }
    }
  }

  &--medium {
    li {
      a {
        min-width: var(--ds-pagination-item-size-md);
        height: var(--ds-pagination-item-size-md);
        font: var(--ds-font-weight-default) var(--ds-pagination-item-font-size-md) var(--ds-font-family);
      }
    }
  }

  &--small {
    li {
      a {
        min-width: var(--ds-pagination-item-size-sm);
        height: var(--ds-pagination-item-size-sm);
        font: var(--ds-font-weight-default) var(--ds-pagination-item-font-size-sm) var(--ds-font-family);
      }
    }
  }

  li {
    padding: 0 var(--ds-pagination-item-space);

    a {
      color: var(--ds-pagination-item-color);
      border: var(--ds-pagination-item-border);
      border-radius: var(--ds-pagination-item-border-radius);
      cursor: pointer;
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(center);



      &:focus {
        outline: none !important;
      }

      svg {
        path {
          fill: var(--ds-pagination-item-color);
        }
      }
    }

    &:not(&.active) {
      a {
        &:hover {
          background-color: var(--ds-pagination-item-bg-hover);
        }
      }
    }

    &.active {
      a {
        cursor: default;
        background-color: var(--ds-pagination-item-bg-selected);
        border-color: var(--ds-pagination-item-border-selected);
        color: var(--ds-pagination-item-color-selected);

        svg {
          path {
            fill: var(--ds-pagination-item-color-selected);
          }
        }
      }
    }

    &.disabled {
      a {
        cursor: default;
        background-color: var(--ds-pagination-item-bg-disabled);
        border-color: var(--ds-pagination-item-border-disabled);
        color: var(--ds-pagination-item-color-disabled);

        &:hover {
          background-color: var(--ds-pagination-item-bg-disabled) !important;
        }

        svg {
          path {
            fill: var(--ds-pagination-item-color-disabled);
          }
        }
      }
    }
  }
}