@use "../helpers/mixin";

.popover {
  $this: &;

  --ds-popover-bg: var(--ds-color-bg-white);
  --ds-popover-padding: var(--ds-space-12);
  --ds-popover-border-radius: var(--ds-border-radius-xxs);
  --ds-popover-shadow: drop-shadow(0px 1px 2px rgba(34, 34, 34, 0.06)) drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.08)) drop-shadow(0px 1px 4px rgba(34, 34, 34, 0.08));;
  --ds-popover-max-width: var(--ds-size-240);
  --ds-popover-height: 216px;
  --ds-popover-arrow-size: var(--ds-size-6);
  --ds-popover-arrow-position: var(--ds-space-20);
  --ds-popover-arrow-bg: var(--ds-color-bg-white);
  --ds-popover-font: 400 var(--ds-size-12)/var(--ds-line-height-caption) var(--ds-font-family);

  @include mixin.flexbox;
  position: fixed;
  color: var(--ds-popover-color);
  background-color: var(--ds-popover-bg);
  border-radius: var(--ds-popover-border-radius);
  filter: var(--ds-popover-shadow);
  min-width: var(--ds-size-80);
  padding: var(--ds-popover-padding);
  max-width: var(--ds-popover-max-width);
  max-height: var(--ds-popover-height);
  z-index: 9999;

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: var(--ds-popover-arrow-size);
  }

  &__inner {
    max-height: 100%;
    word-break: break-word;
  }

  &__link {
    font: var(--ds-popover-font);
  }

  &--top {
    &-left, &-center, &-right {
      &:after {
        top: 100%;
        border-color: var(--ds-popover-arrow-bg) transparent transparent transparent;
      }
    }
  }

  &--bottom {
    &-left, &-center, &-right {

      &:after {
        bottom: 100%;
        border-color: transparent transparent var(--ds-popover-arrow-bg) transparent;
      }
    }
  }

  &--top, &--bottom {
    &-left {
      &:after {
        left: var(--ds-popover-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-right {
      &:after {
        right: var(--ds-popover-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-center {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--middle {
    &-left, &-right {
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-left {
      &:after {
        left: 100%;
        border-color: transparent transparent transparent var(--ds-popover-arrow-bg);
      }
    }

    &-right {
      &:after {
        right: 100%;
        border-color: transparent var(--ds-popover-arrow-bg) transparent transparent ;
      }
    }
  }
}

