@import "../shared";

.progress-stepper {
  @include flexbox;

  &--horizontal {
    @include align-items(center);

    .step {
      &__circle {
        margin: 0 20px;

        &:before, &:after {
          top: 50%;
          width: 20px;
          height: 2px;
          transform: translateY(-50%);
        }

        &:before {
          left: -20px;;
        }

        &:after {
          right: -20px;;
        }
      }
    }
  }

  &--vertical {
    @include flex-direction(column);

    .step {
      &__circle {
        margin: 20px 0;

        &:before, &:after {
          left: 50%;
          width: 2px;
          height: 20px;
          transform: translateX(-50%);
        }

        &:before {
          top: -20px;
        }

        &:after {
          bottom: -20px;;
        }
      }
    }
  }
}

.step {
  $this: &;

  --ds-step-circle-size-lg: 36px;
  --ds-step-circle-size-sm: 24px;

  --ds-step-dot-size-lg: var(--ds-size-12);
  --ds-step-dot-size-sm: var(--ds-size-8);

  --ds-step-circle-border-size-lg: var(--ds-border-strong);
  --ds-step-circle-border-size-sm: var(--ds-border-thin);

  --ds-step-circle-bg: var(--ds-color-bg-white);
  --ds-step-circle-bg-active: var(--ds-color-bg-brand);
  --ds-step-circle-bg-completed: var(--ds-color-bg-brand);
  --ds-step-circle-bg-danger: var(--ds-color-bg-danger);

  --ds-step-circle-border-color: var(--ds-color-bg-grey-lighter);
  --ds-step-circle-border-color-active: var(--ds-color-border-brand);
  --ds-step-circle-border-color-danger: var(--ds-color-border-danger);

  @include flexbox;
  @include flex-direction(column);

  &.active {
    #{$this}__circle {
      border-color: var(--ds-step-circle-border-color-active);

      &__dot {
        background: var(--ds-step-circle-bg-active);
      }
    }
  }

  &.rejected {
    #{$this}__circle {
      border-color: var(--ds-step-circle-border-color-danger);

      &__dot {
        background: var(--ds-step-circle-bg-danger);
      }
    }
  }

  &.completed {
    #{$this}__circle {
      background-color: var(--ds-step-circle-bg-completed);
      border-color: var(--ds-step-circle-border-color-active);
    }
  }

  &__circle {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    cursor: pointer;
    border-style: solid;
    border-radius: var(--ds-border-radius-full);
    background-color: var(--ds-step-circle-bg);
    border-color: var(--ds-step-circle-border-color);

    &:before, &:after {
      content: '';
      position: absolute;
      background-color: green;
      box-sizing: border-box;
    }

    &--large {
      width: var(--ds-step-circle-size-lg);
      min-width: var(--ds-step-circle-size-lg);
      height: var(--ds-step-circle-size-lg);
      border-width: var(--ds-step-circle-border-size-lg);

      #{$this}__circle__dot {
        width: var(--ds-step-dot-size-lg);
        height: var(--ds-step-dot-size-lg);
      }
    }

    &--small {
      width: var(--ds-step-circle-size-sm);
      min-width: var(--ds-step-circle-size-sm);
      height: var(--ds-step-circle-size-sm);
      border-width: var(--ds-step-circle-border-size-sm);

      #{$this}__circle__dot {
        width: var(--ds-step-dot-size-sm);
        height: var(--ds-step-dot-size-sm);
      }
    }

    &__dot {
      background-color: inherit;
      border-color: var(--ds-step-circle-border-color);
      border-radius: var(--ds-border-radius-full);
    }
  }
}