@use "../helpers/mixin";

.select {
  $this: &;

  --ds-select-input-arrow-position: var(--ds-space-14);
  --ds-select-input-color: var(--ds-color-text-primary);

  --ds-select-options-bg: var(--white);
  --ds-select-options-shadow: var(--shadow-2);
  --ds-select-options-border-radius-lg: var(--ds-border-radius-lg);
  --ds-select-options-border-radius-sm: var(--ds-border-radius-md);
  --ds-select-options-border-size: 0;
  --ds-select-options-border-color: none;
  --ds-select-options-margin: var(--ds-space-4);
  --ds-select-options-padding: 0;
  --ds-select-options-height: var(--ds-size-32);

  --ds-select-option-bg-hover: var(--grey-20);
  --ds-select-option-margin: var(--ds-space-4);
  --ds-select-option-padding: 0 var(--ds-space-16);
  --ds-select-option-font: var(--ds-font-weight-default) var(--ds-paragraph-std)/var(--ds-line-height-tight) var(--ds-font-family);

  --ds-select-scroll-max-height: 300px;
  --ds-select-scroll-min-height: 40px;
  --ds-select-scroll-padding: var(--ds-space-8) 0 var(--ds-space-4);

  --ds-select-top-padding: var(--ds-size-16) 0;
  --ds-select-top-margin: 0 var(--ds-size-16);
  --ds-select-top-border-bottom: 1px solid var(--ds-color-divider);

  --ds-select-footer-height: var(--ds-size-56);
  --ds-select-footer-padding: 0 var(--ds-size-16);
  --ds-select-footer-border-top: 1px solid var(--ds-color-divider);

  --ds-select-menu-bg: var(--ds-color-bg-white);
  --ds-select-menu-border-radius: var(--ds-border-radius-xs);
  --ds-select-menu-shadow: var(--shadow-2);
  --ds-select-menu-padding: var(--ds-space-8) 0;
  --ds-select-min-menu-width: var(--ds-size-140);
  --ds-select-max-menu-width: var(--ds-size-240);
  --ds-select-menu-option-padding: 0 var(--ds-space-16);

  --ds-select-language-width: 120px;
  --ds-select-language-bg-hover: var(--ds-color-bg-container);
  --ds-select-language-input-border-color: transparent;
  --ds-select-language-input-border-color-hover: transparent;
  --ds-select-language-input-border-color-active: var(--grey-200);
  --ds-select-language-input-space: 44px;
  --ds-select-language-icon-position: var(--ds-space-16);
  --ds-select-language-shadow-focused: var(--ds-shadow-brand-2);
  --ds-select-language-scroll-padding: 0;


  position: relative;

  .tabs-container{
    width: 100%;
  }

  &__input {
    .input__icon {
      &--right {
        right: var(--ds-select-input-arrow-position);
        pointer-events: none;
      }
    }

    input {
      &:not(&:disabled) {
        &:read-only {
          cursor: pointer;
        }
      }

    }
  }

  &__options {
    @include mixin.flexbox;
    @include mixin.flex-direction(column);
    position: fixed;
    z-index: 3;
    background-color: var(--ds-select-options-bg);
    padding: var(--ds-select-options-padding);
    margin-top: var(--ds-select-options-margin);
    box-shadow: var(--ds-select-options-shadow);
    border-width: var(--ds-select-options-border-size);
    border-style: solid;
    border-color: var(--ds-select-options-border-color);
    overflow: hidden;

    &__scroll {
      max-height: var(--ds-select-scroll-max-height);
      min-height: var(--ds-select-scroll-min-height);
      padding: var(--ds-select-scroll-padding);
    }
  }

  &__option, &__option__inner, &__option__content {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
  }

  &__option {
    height: var(--ds-select-options-height);
    padding: var(--ds-select-option-padding);
    margin-bottom: var(--ds-select-option-margin);
    font: var(--ds-select-option-font);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--ds-select-option-bg-hover);
    }

    &__inner, &__content {
      flex: 1;
      min-width: 1px;
    }

    &__content {
      @include mixin.justify-content(flex-start);
    }

    &__text {
      @include mixin.truncate(calc(100%));
    }

    &__meta {
      white-space: nowrap;
      color: var(--ds-color-text-tertiary);
      &:before {
        content: '- ';
      }
    }
  }

  &__top {
    padding: var(--ds-select-top-padding);
    margin: var(--ds-select-top-margin);
    border-bottom: var(--ds-select-top-border-bottom);
  }

  &__footer {
    @include mixin.flexbox;
    @include mixin.justify-content(space-between);
    @include mixin.align-items(center);
    height: var(--ds-select-footer-height);
    padding: var(--ds-select-footer-padding);
    border-top: var(--ds-select-footer-border-top);
  }

  &--large {
    #{$this}__options {
      border-radius: var(--ds-select-options-border-radius-lg);
    }
  }

  &--small {
    #{$this}__options {
      border-radius: var(--ds-select-options-border-radius-sm);
    }
  }

  &--menu {
    z-index: 9999;
    position: fixed;
    background-color: var(--ds-select-menu-bg);
    box-shadow: var(--ds-select-menu-shadow);
    border-radius: var(--ds-select-menu-border-radius);
    min-width: var(--ds-select-min-menu-width);
    max-width: var(--ds-select-max-menu-width);
    padding: var(--ds-select-menu-padding);

    #{$this}__option {
      padding: var(--ds-select-menu-option-padding);
    }
  }

  &--multi {
    #{$this}__options__scroll {
      padding-top: var(--ds-space-0);
    }

    .input {
      &:not(&:disabled) {
        color: var(--ds-select-input-color);
      }
    }

    .divider {
      width: calc(100% - var(--ds-space-32));
      margin: var(--ds-space-8) auto;
    }
  }

  &--language {
    .input {
      --ds-input-bg-hover: var(--ds-select-language-bg-hover);
      --ds-input-bg-focused: var(--ds-select-language-bg-hover);
      --ds-input-bg-pressed: var(--ds-select-language-bg-hover);
      --ds-input-bg-activated: var(--ds-select-language-bg-hover);
      --ds-input-border-color-default: var(--ds-select-language-input-border-color);
      --ds-input-border-color-hover: var(--ds-select-language-input-border-color-hover);
      --ds-input-border-color-focused: var(--ds-select-language-input-border-color-active);
      --ds-input-border-color-activated: var(--ds-select-language-input-border-color-active);
      --ds-input-padding-lg: var(--ds-select-language-input-space);

      --ds-input-icon-position: var(--ds-select-language-icon-position);

      max-width: var(--ds-select-language-width);

      input {
       text-overflow: unset;

        &:read-only {
          cursor: pointer;
        }

        &:focus {
          box-shadow: var(--ds-select-language-shadow-focused);
        }
      }
    }

    &#{$this}--opened {
      .input {
        --ds-input-bg-default: var(--ds-select-language-bg-hover);
        --ds-input-border-color-default: var(--ds-select-language-input-border-color-active);
      }
    }

    #{$this}__options {
      &__scroll {
        padding: var(--ds-select-language-scroll-padding);
      }
    }
  }
}

.filter {
  --ds-filter-input-margin: var(--ds-space-16) var(--ds-space-16) 0;

  &__input {
    margin: var(--ds-filter-input-margin);
  }
}

.group-item {
  --ds-select-group-item-top-padding: var(--ds-space-8) var(--ds-space-16);
  cursor: pointer;
  &__top {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    padding: var(--ds-select-group-item-top-padding);
  }

  &__title {
    flex: 1;
  }

  
  &__icon {
    font-size: var(--ds-select-group-item-icon-size) !important;
  }
}

.content-top {
  padding: 0 var(--space-16);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    margin: var(--ds-space-10) 0;
  }

  &__search{
    padding: var(--space-8) 0;
  }
}

.action-bar {
  @include mixin.flexbox;
  @include mixin.justify-content(space-between);
  @include mixin.align-items(center);
  padding: var(--ds-space-4) 0;

  &__right {
    position: relative;
  }
}

.select_button{
  box-shadow: none !important;
}