@import "../shared";

.select {
  $this: &;

  --ds-select-size-lg: var(--ds-size-40);
  --ds-select-size-sm: var(--ds-size-32);

  --ds-select-input-arrow-size: var(--font-size-10);
  --ds-select-input-arrow-position: var(--ds-space-14);

  --ds-select-options-bg: var(--white);
  --ds-select-options-border-radius: var(--ds-border-radius-sm);
  --ds-select-options-border-size: 0;
  --ds-select-options-border-color: none;
  --ds-select-options-margin: var(--ds-space-4);
  --ds-select-options-padding: var(--ds-space-8) 0;

  --ds-select-option-bg-hover: var(--grey-20);
  --ds-select-option-margin: var(--ds-space-4);
  --ds-select-option-padding: var(--ds-space-8) var(--ds-space-16);

  --ds-select-option-font: var(--ds-font-weight-default) var(--ds-paragraph-sm)/var(--ds-line-height-default) var(--ds-font-family);

  position: relative;

  &__input {
    .input__icon {
      &--right {
        font-size: var(--ds-select-input-arrow-size);
        right: var(--ds-select-input-arrow-position);
      }
    }
  }

  &__options {
    @include flexbox;
    @include flex-direction(column);
    @include absolute(100%, 0, unset, 0);
    z-index: 1;
    width: 100%;
    background-color: var(--ds-select-options-bg);
    padding: var(--ds-select-options-padding);
    margin-top: var(--ds-select-options-margin);
    box-shadow: var(--shadow-2);
    border-radius: var(--ds-select-options-border-radius);
    border-width: var(--ds-select-options-border-size);
    border-style: solid;
    border-color: var(--ds-select-options-border-default);
  }

  &__option, &__option__inner {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }

  &__option {
    padding: var(--ds-select-option-padding);
    margin-bottom: var(--ds-select-option-margin);

    &:hover {
      background-color: var(--ds-select-option-bg-hover);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__inner, &__text {
      flex: 1;
    }

    &__text {
      font: var(--ds-select-option-font);
    }

    &--disabled {
      #{$this}__icon {

      }
    }
  }

  &__icon {
    //color: var(--ds-select-icon-color-default);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label {
    //font: var(--ds-select-font);
  }

  &:hover {
    cursor: pointer;

  }

  &--disabled {

  }

  &--large {
   //height: var(--ds-select-size-lg);


  }

  &--small {
    height: var(--ds-select-size-sm);

  }
}
