@use "../helpers/mixin";

.side-sheet {
  $this: &;

  --ds-side-sheet-width-sm: 620px;
  --ds-side-sheet-width-lg: 740px;
  

  --ds-side-sheet-overlay-bg: var(--ds-overlay-9);
  --ds-side-sheet-overlay-padding: var(--ds-space-16);
  --ds-side-sheet-bg: var(--ds-color-bg-white);
  --ds-side-sheet-border-radius: var(--ds-border-radius-xs);
  --ds-side-sheet-shadow: var(--shadow-7);

  --ds-side-sheet-header-height: var(--ds-space-64);
  --ds-side-sheet-header-padding: var(--ds-space-8) var(--ds-space-24);

  --ds-side-sheet-content-border-width: var(--ds-border-thin);
  --ds-side-sheet-content-border-color: var(--ds-color-divider);
  --ds-side-sheet-content-padding: var(--ds-space-20) var(--ds-space-24);

  --ds-side-sheet-footer-height: var(--ds-space-64);
  --ds-side-sheet-footer-padding: var(--ds-space-8) var(--ds-space-24);
  
  @include mixin.fixed(0,0,0,0);
  z-index: 999;
  background-color: var(--ds-side-sheet-overlay-bg);

  &__container {
    @include mixin.flexbox;
    @include mixin.flex-direction(column);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--ds-side-sheet-bg);
    &--small {
      max-width: var(--ds-side-sheet-width-sm);
    }
    &--large {
      max-width: var(--ds-side-sheet-width-lg);
    }
    
  }

  &__header {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
    height: var(--ds-side-sheet-header-height);
    padding: var(--ds-side-sheet-header-padding);
    border-bottom: var(--ds-side-sheet-content-border-width) solid var(--ds-side-sheet-content-border-color);
    position: relative;

    &__left, &__right {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(flex-start);
    }

    &__left {
      flex: 1;
      max-width: calc(100% - 64px);
    }

    &__scroll-top {
      position: absolute;
      bottom: calc(var(--ds-size-16) * -1);
      border-radius: 50%;

      z-index: 999;
      &__small {
        left: calc(var(--ds-side-sheet-width-sm) / 2  - var(--ds-size-16));
      }
      &__large {
        left: calc(var(--ds-side-sheet-width-lg) / 2  - var(--ds-size-16));
      }
    }
  }


  &__title {
    @include mixin.truncate(90%);
  }

  &__content {
    flex: 1;
    max-height: calc(100vh - var(--ds-side-sheet-header-height) - var(--ds-side-sheet-footer-height));
    padding: var(--ds-side-sheet-content-padding);
  }

  &__footer {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
    height: var(--ds-side-sheet-footer-height);
    padding: var(--ds-side-sheet-footer-padding);
    border-top: var(--ds-side-sheet-content-border-width) solid var(--ds-side-sheet-content-border-color);
    &_buttons{
      margin-left: auto;
    }
  }

  &__close {
    cursor: pointer;
  }
}

.animated_content {
  width: 100%;
  overflow: hidden;
}