@import "../shared";

:root {
  --toastify-toast-width: 80%;
  --toastify-color-light: var(--ds-color-bg-white);
  --toastify-toast-min-height: var(--ds-size-56);
}

.snackbar {
  $this: &;

  @include flexbox;
  @include align-items(center);

  &__content {
    @include flexbox;
    @include align-items(flex-start);
    flex: 1;
  }

  &__text {
    flex: 1;
    word-break: break-word;
  }
}

.Toastify {
  --ds-snackbar-padding: var(--ds-space-16) var(--ds-space-24);
  --ds-snackbar-border-radius: var(--ds-border-radius-xs);
  --ds-snackbar-shadow: var(--ds-shadow-2);

  &__toast {
    padding: var(--ds-snackbar-padding);
    border-radius: var(--ds-snackbar-border-radius);
    box-shadow: var(--ds-snackbar-shadow);

    &-container {
      max-width: 400px;
    }
    &-body {
      width: 100%;
      padding: 0;

      >div {
        width: 100%;
      }
    }
  }
}
