@use "../helpers/mixin";

.tab {
  $this: &;

  --ds-tab-color-default: var(--ds-color-text-secondary);
  --ds-tab-color-hover: var(--ds-color-text-tertiary);
  --ds-tab-color-disabled: var(--ds-color-text-disabled);
  --ds-tab-color-selected: var(--ds-color-text-primary);

  --ds-tab-icon-color-default: var(--ds-color-text-secondary);
  --ds-tab-icon-color-hover: var(--ds-color-text-tertiary);
  --ds-tab-icon-color-disabled: var(--ds-color-text-disabled);
  --ds-tab-icon-color-selected: var(--ds-color-text-primary);

  --ds-tab-size-lg: var(--ds-size-56);
  --ds-tab-size-md: var(--ds-size-48);
  --ds-tab-size-sm: var(--ds-size-32);
  --ds-tab-font-size-lg: var(--ds-paragraph-md);
  --ds-tab-font-size-md: var(--ds-paragraph-std);
  --ds-tab-font-size-sm: var(--ds-paragraph-sm);
  --ds-tab-font: var(--ds-font-weight-active) var(--ds-tab-font-size-lg)/1 var(--ds-font-family);

  --ds-tab-border-size: 0;
  --ds-tab-border-default: var(--ds-color-border-tertiary);
  --ds-tab-border-selected: var(--ds-color-border-brand);

  --ds-tab-margin: 0 var(--ds-space-24) 0 0;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  flex: 1;
  position: relative;
  color: var(--ds-tab-color-default);
  border-radius: var(--ds-badge-border-radius);
  border-width: var(--ds-tab-border-size);
  border-style: solid;
  border-color: var(--ds-tab-border-default);
  margin: var(--ds-tab-margin);

  &:last-child {
    margin: 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: var(--ds-tab-border-selected);
    transition: width .3s linear;
  }

  &__icon {
    color: var(--ds-tab-icon-color-default);
  }

  &__label {
    font: var(--ds-tab-font);
  }

  &:not(&--selected, &--disabled):hover {
    cursor: pointer;

    #{$this}__icon {
      color: var(--ds-tab-icon-color-hover);
    }
    #{$this}__label {
      color: var(--ds-tab-color-hover);
    }
  }

  &--disabled {
    cursor: default;

    #{$this}__icon {
      color: var(--ds-tab-icon-color-disabled);
    }
    #{$this}__label {
      color: var(--ds-tab-color-disabled);
    }
  }

  &--selected {
    cursor: default;

    &:after {
      width: 100%;
    }

    #{$this}__icon {
      color: var(--ds-tab-icon-color-selected);
    }

    #{$this}__label {
      color: var(--ds-tab-color-selected);
    }
  }

  &--large {
   height: var(--ds-tab-size-lg);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-lg);
    }
  }
  &--medium {
    height: var(--ds-tab-size-md);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-md);
    }
  }
  &--small {
    height: var(--ds-tab-size-sm);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-sm);
    }
  }
}

.tabs-container {
  --ds-tabs-primary-border-size: 0 0 1px 0;
  --ds-tabs-primary-border-default: var(--ds-color-divider);

  --ds-tabs-secondary-bg: var(--ds-color-bg-container-light);
  --ds-tabs-secondary-padding: var(--ds-space-8);
  --ds-tabs-secondary-border-radius: var(--border-radius-12);
  --ds-tabs-secondary-tab-heightt: var(--ds-size-40);
  --ds-tabs-secondary-tab-padding: var(--ds-space-10) var(--ds-space-12);
  --ds-tabs-secondary-tab-margin: 0 var(--ds-space-8) 0 0;
  --ds-tabs-secondary-tab-bg-default: transparent;
  --ds-tabs-secondary-tab-bg-hover: var(--ds-color-bg-container-dark);
  --ds-tabs-secondary-tab-bg-selected: var(--ds-color-bg-white);
  --ds-tabs-secondary-tab-color-default: var(--ds-color-text-primary);
  --ds-tabs-secondary-tab-color-hover: var(--ds-color-text-primary);
  --ds-tabs-secondary-tab-color-selected: var(--ds-color-text-primary);
  --ds-tabs-secondary-tab-border-size: 1px;
  --ds-tabs-secondary-tab-border-default: transparent;
  --ds-tabs-secondary-tab-border-hover: transparent;
  --ds-tabs-secondary-tab-border-selected: var(--ds-color-border-tertiary);
  --ds-tabs-secondary-tab-border-radius: var(--ds-border-radius-lg);

  @include mixin.inline-flex;
  @include mixin.align-items(flex-end);

  &--primary {
    border-width: var(--ds-tabs-primary-border-size);
    border-style: solid;
    border-color: var(--ds-tabs-primary-border-default);
  }

  &--secondary {
    background-color: var(--ds-tabs-secondary-bg);
    padding: var(--ds-tabs-secondary-padding);
    border-radius: var(--ds-tabs-secondary-border-radius);

    .tab {
      padding: var(--ds-tabs-secondary-tab-padding);
      height: var(--ds-tabs-secondary-tab-heightt);
      margin: var(--ds-tabs-secondary-tab-margin);
      border-width: var(--ds-tabs-secondary-tab-border-size);
      border-style: solid;
      background-color: var(--ds-tabs-secondary-tab-bg-default);
      border-color: var(--ds-tabs-secondary-tab-border-default);
      border-radius: var(--ds-tabs-secondary-tab-border-radius);
      transition: background-color .3s linear, border-color .3s linear;

      &:last-child {
        margin: 0;
      }

      &:after {
        content: none;
      }

      &__icon, &__label {
        color: var(--ds-tabs-secondary-tab-color-default);
      }

      &:not(&--selected):hover {
        background-color: var(--ds-tabs-secondary-tab-bg-hover);
        border-color: var(--ds-tabs-secondary-tab-border-hover);

        .tab__icon, .tab__label {
          color: var(--ds-tabs-secondary-tab-color-hover);
        }
      }

      &--selected {
        background-color: var(--ds-tabs-secondary-tab-bg-selected);
        border-color: var(--ds-tabs-secondary-tab-border-selected);

        .tab__icon, .tab__label {
          color: var(--ds-tabs-secondary-tab-color-selected);
        }
      }
    }
  }
}