@import "../shared";

.tab {
  $this: &;

  --ds-tab-color-default: var(--ds-color-text-secondary);
  --ds-tab-color-hover: var(--ds-color-text-tertiary);
  --ds-tab-color-disabled: var(--ds-color-text-disabled);
  --ds-tab-color-selected: var(--ds-color-text-primary);

  --ds-tab-icon-color-default: var(--ds-color-text-secondary);
  --ds-tab-icon-color-hover: var(--ds-color-text-tertiary);
  --ds-tab-icon-color-disabled: var(--ds-color-text-disabled);
  --ds-tab-icon-color-selected: var(--ds-color-text-primary);

  --ds-tab-size-lg: var(--ds-size-56);
  --ds-tab-size-md: var(--ds-size-48);
  --ds-tab-size-sm: var(--ds-size-32);
  --ds-tab-font-size-lg: var(--ds-paragraph-md);
  --ds-tab-font-size-md: var(--ds-paragraph-std);
  --ds-tab-font-size-sm: var(--ds-paragraph-sm);
  --ds-tab-font: var(--ds-font-weight-active) var(--ds-tab-font-size-lg)/1 var(--ds-font-family);

  --ds-tab-border-size: 0;
  --ds-tab-border-default: var(--ds-color-border-tertiary);
  --ds-tab-border-selected: var(--ds-color-border-brand);

  --ds-tab-margin: 0 var(--ds-space-24) 0 0;

  @include inline-flex;
  @include align-items(center);
  position: relative;
  color: var(--ds-tab-color-default);
  border-radius: var(--ds-badge-border-radius);
  border-width: var(--ds-tab-border-size);
  border-style: solid;
  border-color: var(--ds-tab-border-default);
  margin: var(--ds-tab-margin);

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: var(--ds-tab-border-selected);
    transition: width .3s linear;
  }

  &:last-child {
    margin: 0;
  }

  &__icon {
    color: var(--ds-tab-icon-color-default);
  }

  &__label {
    font: var(--ds-tab-font);
  }

  &:hover {
    cursor: pointer;

    #{$this}__icon {
      color: var(--ds-tab-icon-color-hover);
    }
    #{$this}__label {
      color: var(--ds-tab-color-hover);
    }
  }

  &--disabled {
    &:hover {
      cursor: default;

      #{$this}__icon {
        color: var(--ds-tab-icon-color-disabled);
      }
      #{$this}__label {
        color: var(--ds-tab-color-disabled);
      }
    }
    #{$this}__icon {
      color: var(--ds-tab-icon-color-disabled);
    }
    #{$this}__label {
      color: var(--ds-tab-color-disabled);
    }
  }

  &--selected {
    &:hover {
      cursor: default;

      #{$this}__icon {
        color: var(--ds-tab-icon-color-selected);
      }
      #{$this}__label {
        color: var(--ds-tab-color-selected);
      }
    }

    &:after {
      width: 100%;
    }

    #{$this}__icon {
      color: var(--ds-tab-icon-color-selected);
    }

    #{$this}__label {
      color: var(--ds-tab-color-selected);
    }
  }

  &--large {
   height: var(--ds-tab-size-lg);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-lg);
    }
  }
  &--medium {
    height: var(--ds-tab-size-md);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-md);
    }
  }
  &--small {
    height: var(--ds-tab-size-sm);

    #{$this}__label {
      font-size: var(--ds-tab-font-size-sm);
    }
  }
}

.tabs-container {
  --ds-tabs-border-size: 0 0 1px 0;
  --ds-tabs-border-default: var(--ds-color-divider);

  @include inline-flex;
  @include align-items(flex-end);
  border-width: var(--ds-tabs-border-size);
  border-style: solid;
  border-color: var(--ds-tabs-border-default);
}