@import "../shared";

.table-wrapper {
  --ds-table-th-height: var(--ds-size-56);
  --ds-table-td-height: var(--ds-size-56);

  --ds-table-th-padding: 0 var(--ds-space-16);
  --ds-table-td-padding: 0 var(--ds-space-16);

  --ds-table-th-border-color: var(--ds-color-border-secondary);
  --ds-table-td-border-color: var(--ds-color-border-secondary);
  --ds-table-td-border-bottom-color: var(--ds-color-bg-container-lighter);
  --ds-table-td-border-bottom-color-selected: var(--ds-color-border-selected);

  --ds-table-th-bg-color: var(--ds-color-bg-white);
  --ds-table-td-bg-color: var(--ds-color-bg-white);
  --ds-table-td-bg-color-dark: var(--ds-color-bg-container-lighter);

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
      tr {
        th {
          background-color: var(--ds-table-th-bg-color);
          border-bottom: 1px solid var(--ds-table-th-border-color);
          height: var(--ds-table-th-height);
          padding: var(--ds-table-th-padding);
          vertical-align: middle;

         .unsorted__icon {
           display: none;
         }

          &:hover {
            .unsorted__icon {
              display: block;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(1n) {
          td {
            background-color: var(--ds-table-td-bg-color);
          }
        }

        &:nth-child(2n) {
          td {
            background-color: var(--ds-table-td-bg-color-dark);
          }
        }

        &.selected {
          td {
            border-bottom-color: var(--ds-table-td-border-bottom-color-selected);
          }
        }

        td {
          border-bottom: 1px solid var(--ds-table-td-border-bottom-color);
          height: var(--ds-table-td-height);
          padding: var(--ds-table-td-padding);
          vertical-align: middle;
        }
      }
    }
  }

  .fixed_header {
    @include sticky(0, unset, unset, unset);
    z-index: 2;
  }

  .fixed_checkbox {
    @include sticky(unset, unset, unset, 0);

    & + th, & + td {
      padding-left: 0;
    }
  }

  .fixed_column_left {
    @include sticky(0, unset, unset, unset);
    z-index: 1;
    border-right: 1px solid var(--ds-table-td-border-color)
  }

  .fixed_column_right {
    @include sticky(unset, 0, unset, unset);
    border-left: 1px solid var(--ds-table-td-border-color)
  }
}