.tooltip {
  $this: &;

  --ds-tooltip-bg: var(--ds-color-bg-cta-secondary-default);
  --ds-tooltip-color: var(--ds-color-text-inverse);
  --ds-tooltip-padding: 0 var(--ds-space-8);
  --ds-tooltip-siz-lg: var(--ds-size-32);
  --ds-tooltip-size-sm: var(--ds-size-24);
  --ds-tooltip-border-radius: var(--ds-border-radius-xs);

  --ds-tooltip-arrow-size: var(--ds-size-4);
  --ds-tooltip-arrow-position: var(--ds-space-20);
  --ds-tooltip-arrow-bg: var(--ds-color-bg-cta-secondary-default);

  @include flexbox;
  @include align-items(center);
  position: absolute;
  color: var(--ds-tooltip-color);
  background-color: var(--ds-tooltip-bg);
  border-radius: var(--ds-tooltip-border-radius);
  filter: var(--ds-tooltip-shadow);
  min-width: var(--ds-size-80);
  padding: var(--ds-tooltip-padding);
  white-space: nowrap;
  z-index: 9999;

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: var(--ds-tooltip-arrow-size);
  }

  &--large {
    height: var(--ds-tooltip-siz-lg);
  }

  &--small {
    height: var(--ds-tooltip-size-sm);
  }

  &--top {
    &-left, &-center, &-right {
      bottom: calc(100% + var(--ds-size-8));
      &:after {
        top: 100%;
        border-color: var(--ds-tooltip-arrow-bg) transparent transparent transparent;
      }
    }
  }

  &--bottom {
    &-left, &-center, &-right {
      top: calc(100% + var(--ds-size-8));

      &:after {
        bottom: 100%;
        border-color: transparent transparent var(--ds-tooltip-arrow-bg) transparent;
      }
    }
  }

  &--top, &--bottom {
    &-left {
      left: 0;

      &:after {
        left: var(--ds-tooltip-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-right {
      right: 0;

      &:after {
        right: var(--ds-tooltip-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-center {
      left: 50%;
      transform: translateX(-50%);

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--middle {
    &-left, &-right {
      top: 50%;
      transform: translateY(-50%);

      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-left {
      right: calc(calc(100% + var(--ds-size-8)));

      &:after {
        left: 100%;
        border-color: transparent transparent transparent var(--ds-tooltip-arrow-bg);
      }
    }

    &-right {
      left: calc(calc(100% + var(--ds-size-8)));

      &:after {
        right: 100%;
        border-color: transparent var(--ds-tooltip-arrow-bg) transparent transparent ;
      }
    }
  }
}

