@import "../shared";

.file-upload {
  input[type='file'] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }
}

.upload-item {
  --ds-upload-item-height: var(--ds-size-48);
  --ds-upload-item-padding: 0 var(--ds-space-12);
  --ds-upload-item-border: 1px solid var(--grey-50);
  --ds-upload-item-border-radius: var(--ds-border-radius-xs);

  --ds-upload-item-image-size: var(--ds-size-32);
  --ds-upload-item-image-border-radius: var(--ds-border-radius-xs);
  --ds-upload-item-image-margin: var(--ds-space-8);

  --ds-upload-item-button-size: var(--ds-size-24);

  $this: &;

  @include flexbox;
  @include align-items(center);
  width: 100%;
  height: var(--ds-upload-item-height);
  padding: var(--ds-upload-item-padding);
  border: var(--ds-upload-item-border);
  border-radius: (--ds-upload-item-border-radius);

  &__image {
    min-width: var(--ds-upload-item-image-size);
    width: var(--ds-upload-item-image-size);
    height: var(--ds-upload-item-image-size);
    margin-right: var(--ds-upload-item-image-margin);
    border-radius: var(--ds-upload-item-image-border-radius);

    & + #{$this}__inner {
      width: calc(100% - var(--ds-upload-item-image-size) - var(--ds-upload-item-image-margin));
    }
  }

  &__inner {
    width: 100%;

    @include flexbox;
    @include flex-direction(column);
  }

  &__content {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    &__inner {
      width: calc(100% - var(--ds-upload-item-button-size));
    }
  }

  &__text {
    @include truncate(100%);
  }
}