@import "../../assets/styles/shared";

.radio-group {
    $this: &;

    --radio-group-item-space: var(--ds-space-20);

    @include flexbox;
    @include flex-direction(column);

    &__inner {
        @include flex-wrap(wrap);
        @include align-items(flex-start);
    }

    &--horizontal {
        #{$this}__inner {
            @include flex-wrap(wrap);
            @include align-items(flex-start);
        }
        #{$this}__item {
            margin-right: var(--radio-group-item-space);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &--vertical {
        #{$this}__inner {
            @include flex-direction(column);
        }

        #{$this}__item {
            margin-bottom: var(--radio-group-item-space);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__label {
        flex: 100%;
        margin-bottom: var(--ds-space-12);
    }
}