@import '../../sass/helpers/colors.scss';

.input-container {
    position: relative;
    .with-error-styles{
        border: 1px solid $inputBorderError;
    }
    .input-label{
        margin-bottom: 8px;
    }
}

.input-container input {
    width:100%;
    height: 40px;
    padding: 4px 16px;
    border: 1px solid $inputBorderGray;
    border-radius: 4px;
    caret-color: $labelGray;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    color: $labelGray;
    font-size: 14px;
    &:focus {
        border-color: $inputBorderActive;
    }
}

