
.input {
  --input-message-icon-size: var(--ds-size-16);
  --input-message-margin: var(--ds-space-4) 0 0 0;
  --input-message-icon-margin: 0 var(--ds-space-4) 0 0;
  --input-message-icon-color: var(--ds-color-icon-success);

  &__message {
    display: inline-flex;
    align-items: center;
    position:absolute;
    margin: var(--input-message-margin);

    &__icon {
      width: var(--input-message-icon-size);
      height: var(--input-message-icon-size);
      margin: var(--input-message-icon-margin);

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: var(--input-message-icon-color);
        }
      }
    }
  }
}