@import "src/assets/styles/helpers/mixin";

/**
* @tokens Colors
* @presenter Color
*/

$ds-color-text-primary: var(--grey-900);
$ds-color-text-secondary: var(--grey-700);
$ds-color-text-tertiary: var(--grey-500);
$ds-color-text-disabled: var(--grey-400);
$ds-color-text-selected: var(--brand-500);
$ds-color-text-inverse: var(--white);
$ds-color-text-brand: var(--brand-500);
$ds-color-text-danger: var(--red-800);
$ds-color-text-warning: var(--yellow-800);
$ds-color-text-success: var(--green-600);
$ds-color-text-information: var(--blue-600);
$ds-color-text-discovery: var(--purple-400);

$ds-color-bg-cta-primary-default: var(--brand-500);
$ds-color-bg-cta-primary-hover: var(--brand-300);
$ds-color-bg-cta-primary-pressed: var(--brand-600);
$ds-color-bg-cta-primary-focused: var(--brand-700);

$ds-color-bg-cta-secondary-default: var(--white);
$ds-color-bg-cta-secondary-hover: var(--grey-30);
$ds-color-bg-cta-secondary-pressed: var(--grey-40);
$ds-color-bg-cta-secondary-focused: var(--grey-50);

$ads-color-cta-bg-disabled: var(--grey-50);

$ds-color-bg-cta-danger-default: var(--red-800);
$ds-color-bg-cta-danger-hover: var(--red-700);
$ds-color-bg-cta-danger-pressed: var(--red-800);
$ds-color-bg-cta-danger-focused: var(--red-900);

$ds-color-bg-warning: var(--yellow-500);
$ds-color-bg-warning-hover: var(--yellow-100);
$ds-color-bg-warning-pressed: var(--yellow-200);

$ds-color-bg-success: var(--green-500);
$ds-color-bg-success-hover: var(--green-100);
$ds-color-bg-success-pressed: var(--green-200);

$ds-color-bg-information: var(--blue-500);
$ds-color-bg-information-hover: var(--blue-100);
$ds-color-bg-information-pressed: var(--blue-200);

$ds-color-icon-primary: var(--grey-700);
$ds-color-icon-darker: var(--grey-900);
$ds-color-icon-inverse: var(--white);
$ds-color-icon-disabled: var(--grey-200);
$ds-color-icon-brand: var(--brand-500);
$ds-color-icon-danger: var(--red-800);
$ds-color-icon-warning: var(--yellow-800);
$ds-color-icon-success: var(--green-600);
$ds-color-icon-information: var(--blue-600);

$ds-color-border-cta: var(--grey-400);

/**
* @tokens Animations
* @presenter Animation
*/
$animation-rotate: var(--animation-rotate);

/**
* @tokens Border Radius
* @presenter BorderRadius
*/

$border-radius-2: var(--border-radius-2);

/**
* @tokens Borders
* @presenter Border
*/

$border-default: var(--border);

/**
* @tokens Font Families
* @presenter FontFamily
*/

$font-family-primary: var(--font-family-primary);
$font-family-secondary: var(--font-family-secondary);
$font-family-tertiary: var(--font-family-tertiary);

/**
* @tokens Font Sizes
* @presenter FontSize
*/

$ds-font-size-10: var(--font-size-10);
$ds-font-size-12: var(--font-size-12);
$ds-font-size-14: var(--font-size-14);
$ds-font-size-16: var(--font-size-16);
$ds-font-size-20: var(--font-size-20);
$ds-font-size-24: var(--font-size-24);
$ds-font-size-32: var(--font-size-32);
$ds-font-size-36: var(--font-size-36);
$ds-font-size-40: var(--font-size-40);
$ds-font-size-48: var(--font-size-48);
$ds-font-size-64: var(--font-size-64);

/**
* @tokens Font Weights
* @presenter FontWeight
*/

$ds-font-weight-400: var(--font-weight-400);
$ds-font-weight-500: var(--font-weight-500);
$ds-font-weight-600: var(--font-weight-600);
$ds-font-weight-700: var(--font-weight-700);
$ds-font-weight-800: var(--font-weight-800);
$ds-font-weight-900: var(--font-weight-900);

/**
* @tokens Line Heights
* @presenter LineHeight
*/

$line-height: var(--line-height);

/**
* @tokens Letter Spacings
* @presenter LetterSpacing
*/

$letter-spacing-0: var(--letter-spacing-0);
$letter-spacing-1: var(--letter-spacing-1);
$letter-spacing-2: var(--letter-spacing-2);

/**
* @tokens Opacities
* @presenter Opacity
*/

$opacity: var(--opacity);

/**
* @tokens Shadows
* @presenter Shadow
*/

$shadow-m: var(--shadow-m);
$shadow-l: var(--shadow-l);

/**
* @tokens Spacings
* @presenter Spacing
*/

$space-4: var(--space-4);
$space-8: var(--space-8);
$space-12: var(--space-12);
$space-16: var(--space-16);
$space-20: var(--space-20);
$space-24: var(--space-24);
$space-32: var(--space-32);

/**
* @tokens Z-Index
*/

$z-index-99: var(z-index-99);

/**
* @tokens Others
*/



