:root {
  //----------- default tokens -------------//

  --border-size-1: 1px;
  --border-size-2: 2px;

  --border-radius-0: 0;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-40: 40px;
  --border-radius-100: 100px;
  --border-radius-percent-100: 100%;


  //----------- alias tokens -------------//


  /**
  * @tokens Borders
  * @presenter Border
  */

  --ds-border-thin: var(--border-size-1);
  --ds-border-strong: var(--border-size-2);

  --ds-border-radius: var(--border-radius-0);
  --ds-border-radius-xs: var(--border-radius-2);
  --ds-border-radius-sm: var(--border-radius-4);
  --ds-border-radius-md: var(--border-radius-8);
  --ds-border-radius-lg: var(--border-radius-40);
  --ds-border-radius-xl: var(--border-radius-100);
  --ds-border-radius-full: var(--border-radius-percent-100);


  /**
  * @tokens-end
  */
}
