:root {
  //----------- default tokens -------------//

  --border-size-1: 1px;
  --border-size-2: 2px;

  --border-radius-0: 0;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
  --border-radius-32: 32px;
  --border-radius-40: 40px;
  --border-radius-100: 100px;
  --border-radius-percent-50: 50%;
  --border-radius-percent-100: 100%;


  //----------- alias tokens -------------//


  /**
  * @tokens Borders
  * @presenter Border
  */

  --ds-border-thin: var(--border-size-1);
  --ds-border-strong: var(--border-size-2);

  --ds-border-radius-xxs: var(--border-radius-2);
  --ds-border-radius-xs: var(--border-radius-4);
  --ds-border-radius-sm: var(--border-radius-6);
  --ds-border-radius-md: var(--border-radius-8);
  --ds-border-radius-lg: var(--border-radius-10);
  --ds-border-radius-xl: var(--border-radius-12);
  --ds-border-radius-2xl: var(--border-radius-16);
  --ds-border-radius-3xl: var(--border-radius-24);
  --ds-border-radius-4xl: var(--border-radius-32);
  --ds-border-radius-5xl: var(--border-radius-40);
  --ds-border-radius-6xl: var(--border-radius-100);
  --ds-border-radius-full: var(--border-radius-percent-100);


  /**
  * @tokens-end
  */
}
