:root {
  //----------- default tokens -------------//

  --brand-900: #1C330D;
  --brand-800: #31531C;
  --brand-700: #4B812C;
  --brand-600: #61A539;
  --brand-500: #72BF44;
  --brand-400: #80C557;
  --brand-300: #8ECC69;
  --brand-200: #9CD27C;
  --brand-100: #AAD98F;
  --brand-50: #B8DFA2;
  --brand-40: #CAE7B9;
  --brand-30: #DBEFD1;
  --brand-20: #EDF7E8;

  --green-900: #265B25;
  --green-800: #357939;
  --green-700: #3D8B46;
  --green-600: #469D52;
  --green-500: #4DAA5B;
  --green-400: #5DB773;
  --green-300: #7AC48B;
  --green-200: #9FD4AC;
  --green-100: #C5E5CC;
  --green-50: #E6F4EA;

  --blue-900: #2443B8;
  --blue-800: #2E63D6;
  --blue-700: #3475E8;
  --blue-600: #3C88F7;
  --blue-500: #4396F7;
  --blue-400: #54A6F8;
  --blue-300: #71B6F9;
  --blue-200: #9ACAFA;
  --blue-100: #C1DEFC;
  --blue-50: #E6F2FE;

  --purple-900: #081FA6;
  --purple-800: #0E2AB2;
  --purple-700: #2431B9;
  --purple-600: #3838C1;
  --purple-500: #453DC7;
  --purple-400: #6559D0;
  --purple-300: #8377D7;
  --purple-200: #A89DE2;
  --purple-100: #CBC4ED;
  --purple-50: #EAE7F7;

  --pink-900: #4A0A20;
  --pink-800: #79012F;
  --pink-700: #A2023F;
  --pink-600: #AD0244;
  --pink-500: #c9014f;
  --pink-400: #F50260;
  --pink-300: #FD2779;
  --pink-200: #FE7DAF;
  --pink-100: #FEA8C9;
  --pink-50: #FFD4E4;

  --red-900: #A41300;
  --red-800: #E61B00;
  --red-700: #FF2103;
  --red-600: #FF391F;
  --red-500: #FF523B;
  --red-400: #FF6B57;
  --red-300: #FF8373;
  --red-200: #FF9C8F;
  --red-100: #FFB5AB;
  --red-50: #FFE0DC;

  --yellow-900: #EB7520;
  --yellow-800: #ED912A;
  --yellow-700: #EEA02F;
  --yellow-600: #F0B134;
  --yellow-500: #F1BE39;
  --yellow-400: #f2c74a;
  --yellow-300: #F4D264;
  --yellow-200: #F7DE8E;
  --yellow-100: #FAEBB9;
  --yellow-50: #FDF7E4;

  --grey-900: #222222;
  --grey-800: #333333;
  --grey-700: #555555;
  --grey-600: #666666;
  --grey-500: #888888;
  --grey-400: #AAAAAA;
  --grey-300: #BBBBBB;
  --grey-200: #CCCCCC;
  --grey-100: #DDDDDD;
  --grey-50: #ECECEC;
  --grey-40: #F2F2F2;
  --grey-30: #F8F8F8;
  --grey-20: #fafafa;

  --white: #FEFEFE;


  //----------- alias tokens -------------//

  /**
  * @tokens Colors
  * @presenter Color
  */

  //background colors

  --ds-color-bg-white: var(--white);
  --ds-color-bg-disabled: var(--grey-50);

  --ds-color-bg-container: var(--grey-50);
  --ds-color-bg-container-dark: var(--grey-100);
  --ds-color-bg-container-darker: var(--grey-200);
  --ds-color-bg-container-light: var(--grey-40);
  --ds-color-bg-container-lighter: var(--grey-30);

  --ds-color-bg-brand: var(--brand-500);
  --ds-color-bg-brand-dark: var(--brand-600);
  --ds-color-bg-brand-darker: var(--brand-700);
  --ds-color-bg-brand-light: var(--brand-30);
  --ds-color-bg-brand-lighter: var(--brand-20);

  --ds-color-bg-danger: var(--red-700);
  --ds-color-bg-danger-dark: var(--red-800);
  --ds-color-bg-danger-darker: var(--red-900);
  --ds-color-bg-danger-light: var(--red-100);
  --ds-color-bg-danger-lighter: var(--red-50);

  --ds-color-bg-warning: var(--yellow-600);
  --ds-color-bg-warning-dark: var(--yellow-800);
  --ds-color-bg-warning-darker: var(--yellow-900);
  --ds-color-bg-warning-light: var(--yellow-100);
  --ds-color-bg-warning-lighter: var(--yellow-50);

  --ds-color-bg-discovery: var(--purple-300);
  --ds-color-bg-discovery-dark: var(--purple-500);
  --ds-color-bg-discovery-darker: var(--purple-700);
  --ds-color-bg-discovery-light: var(--purple-100);
  --ds-color-bg-discovery-lighter: var(--purple-50);

  --ds-color-bg-info: var(--blue-400);
  --ds-color-bg-info-dark: var(--blue-600);
  --ds-color-bg-info-darker: var(--blue-800);
  --ds-color-bg-info-light: var(--blue-100);
  --ds-color-bg-info-lighter: var(--blue-50);

  --ds-color-bg-success: var(--green-400);
  --ds-color-bg-success-dark: var(--green-500);
  --ds-color-bg-success-darker: var(--green-700);
  --ds-color-bg-success-light: var(--green-100);
  --ds-color-bg-success-lighter: var(--green-50);

  --ds-color-bg-grey: var(--grey-300);
  --ds-color-bg-grey-dark: var(--grey-400);
  --ds-color-bg-grey-darker: var(--grey-500);
  --ds-color-bg-grey-light: var(--grey-100);
  --ds-color-bg-grey-lighter: var(--grey-50);

  //text colors
  --ds-color-text-primary: var(--grey-900);
  --ds-color-text-secondary: var(--grey-700);
  --ds-color-text-tertiary: var(--grey-500);
  --ds-color-text-disabled: var(--grey-400);
  --ds-color-text-selected: var(--brand-500);
  --ds-color-text-inverse: var(--white);
  --ds-color-text-brand: var(--brand-500);
  --ds-color-text-danger: var(--red-800);
  --ds-color-text-warning: var(--yellow-800);
  --ds-color-text-success: var(--green-600);
  --ds-color-text-info: var(--blue-600);
  --ds-color-text-discovery: var(--purple-400);

  //icon colors
  --ds-color-icon-primary: var(--grey-900);
  --ds-color-icon-secondary: var(--grey-700);
  --ds-color-icon-tertiary: var(--grey-500);
  --ds-color-icon-inverse: var(--white);
  --ds-color-icon-disabled: var(--grey-400);
  --ds-color-icon-brand: var(--brand-500);
  --ds-color-icon-danger: var(--red-800);
  --ds-color-icon-warning: var(--yellow-800);
  --ds-color-icon-success: var(--green-600);
  --ds-color-icon-selected: var(--brand-500);
  --ds-color-icon-info: var(--blue-600);
  --ds-color-icon-discovery: var(--purple-400);

  //border colors
  --ds-color-border-primary: var(--grey-400);
  --ds-color-border-secondary: var(--grey-300);
  --ds-color-border-tertiary: var(--grey-100);
  --ds-color-border-disabled: var(--grey-50);
  --ds-color-border-selected: var(--brand-500);
  --ds-color-border-inverse: var(--white);
  --ds-color-border-brand: var(--brand-500);
  --ds-color-border-danger: var(--red-800);
  --ds-color-border-warning: var(--yellow-800);
  --ds-color-border-success: var(--green-600);
  --ds-color-border-info: var(--blue-600);
  --ds-color-border-discovery: var(--purple-400);
  --ds-color-border-quintary: var(--grey-50);

  --ds-color-divider: var(--grey-100);
  --ds-color-divider-light: var(--grey-50);

  /**
  * @tokens-end
  */
}