@import "https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100;200;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;500;600;700;800;900&display=swap";

//@font-face {
//  font-family: "NotoSansArmenian";
//  src:  url("/src/assets/fonts/noto-sans-armenian/NotoSansArmenian-Regular.ttf") format("truetype");
//}

:root {
  //----------- default tokens -------------//


  --font-family-primary: 'Noto Sans Armenian', 'Noto Sans';
  --font-family-secondary: 'Tahoma';
  --font-family-tertiary: 'Open Sans';

  --font-size-6: 6px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-64: 64px;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --line-height-xs: 1.15;
  --line-height-sm: 1.2;
  --line-height-md: 1.35;
  --line-height-lg: 1.5;

  --letter-spacing: 1px;


  //----------- alias tokens -------------//

  /**
  * @tokens Font Families
  * @presenter FontFamily
  */

  --ds-font-family: var(--font-family-primary);
  --ds-font-family-code: var(--font-family-secondary);
  --ds-font-family-tertiary: var(--font-family-tertiary);

  /**
  * @tokens Font Sizes
  * @presenter FontSize
  */

  --ds-headline-xl: var(--font-size-64);
  --ds-headline-lg: var(--font-size-48);
  --ds-headline-md: var(--font-size-40);
  --ds-headline-std: var(--font-size-36);
  --ds-headline-sm: var(--font-size-32);
  --ds-headline-xs: var(--font-size-24);

  --ds-paragraph-lg: var(--font-size-20);
  --ds-paragraph-md: var(--font-size-16);
  --ds-paragraph-std: var(--font-size-14);
  --ds-paragraph-sm: var(--font-size-12);
  --ds-paragraph-xs: var(--font-size-10);
  --ds-paragraph-xxs: var(--font-size-6);


  /**
  * @tokens Font Weights
  * @presenter FontWeight
  */

  --ds-font-weight-default: var(--font-weight-400);
  --ds-font-weight-active: var(--font-weight-500);
  --ds-font-weight-heading: var(--font-weight-600);
  --ds-font-weight-strong: var(--font-weight-700);


  /**
  * @tokens Line Heights
  * @presenter LineHeight
  */

  --ds-line-height-default: var(--line-height-xs);
  --ds-line-height-tight: var(--line-height-sm);
  --ds-line-height-caption: var(--line-height-md);
  --ds-line-height-heading: var(--line-height-lg);


  /**
  * @tokens Letter Spacing
  * @presenter LetterSpacing
  */

  --ds-letter-spacing: var(--letter-spacing);


  /**
  * @tokens-end
  */
}
