:root {
  //----------- default tokens -------------//

  --shadow-1: 0px 1px 2px rgba(34, 34, 34, 0.06), 0px 2px 2px rgba(34, 34, 34, 0.08), 0px 1px 4px rgba(34, 34, 34, 0.08);
  --shadow-2: 0px 2px 4px rgba(34, 34, 34, 0.06), 0px 3px 2px rgba(34, 34, 34, 0.08), 0px 1px 6px rgba(34, 34, 34, 0.1);
  --shadow-3: 0px 3px 4px rgba(34, 34, 34, 0.12), 1px 3px 3px rgba(34, 34, 34, 0.1), 0px 1px 8px rgba(34, 34, 34, 0.16);
  --shadow-4: 0px 4px 5px rgba(34, 34, 34, 0.1), 0px 1px 10px rgba(34, 34, 34, 0.08), 0px 2px 4px rgba(34, 34, 34, 0.16);
  --shadow-5: 0px 6px 10px rgba(34, 34, 34, 0.12), 0px 1px 18px rgba(34, 34, 34, 0.08), 0px 3px 5px rgba(34, 34, 34, 0.16);
  --shadow-6: 0px 8px 10px rgba(31, 31, 31, 0.12), 0px 3px 14px rgba(31, 31, 31, 0.08), 0px 5px 5px rgba(31, 31, 31, 0.16);
  --shadow-7: 0px 9px 12px rgba(34, 34, 34, 0.12), 0px 3px 16px rgba(34, 34, 34, 0.08), 0px 5px 6px rgba(34, 34, 34, 0.16);
  --shadow-8: 0px 12px 17px rgba(34, 34, 34, 0.12), 0px 5px 22px rgba(34, 34, 34, 0.08), 0px 7px 8px rgba(34, 34, 34, 0.16);
  --shadow-9: 0px 16px 24px rgba(34, 34, 34, 0.12), 0px 6px 30px rgba(34, 34, 34, 0.08), 0px 8px 10px rgba(34, 34, 34, 0.16);
  --shadow-10: 0px 24px 38px rgba(34, 34, 34, 0.12), 0px 9px 46px rgba(34, 34, 34, 0.08), 0px 11px 15px rgba(34, 34, 34, 0.16);

  --shadow-brand-1: 0px 0px 0px 1px rgb(114, 191, 68);
  --shadow-brand-2: 0px 0px 0px 4px rgba(202, 231, 185, 0.80);
  --shadow-success: 0px 0px 0px 4px rgba(197, 229, 204, 0.80);
  --shadow-warning: 0px 0px 0px 4px rgba(250, 235, 185, 0.80);
  --shadow-danger: 0px 0px 0px 4px rgba(255, 181, 171, 0.80);
  --shadow-info: 0px 0px 0px 4px rgba(193, 222, 252, 0.80);
  --shadow-discovery: 0px 0px 0px 4px rgba(203, 196, 237, 0.80);


  //----------- alias tokens -------------//

  /**
 * @tokens Shadows
 * @presenter Shadow
 */

  --ds-shadow-1: var(--shadow-1);
  --ds-shadow-2: var(--shadow-2);
  --ds-shadow-3: var(--shadow-3);
  --ds-shadow-4: var(--shadow-4);
  --ds-shadow-5: var(--shadow-5);
  --ds-shadow-6: var(--shadow-6);
  --ds-shadow-7: var(--shadow-7);
  --ds-shadow-8: var(--shadow-8);
  --ds-shadow-9: var(--shadow-9);
  --ds-shadow-10: var(--shadow-10);

  --ds-shadow-brand-1: var(--shadow-brand-1);
  --ds-shadow-brand-2: var(--shadow-brand-2);
  --ds-shadow-success: var(--shadow-success);
  --ds-shadow-warning: var(--shadow-warning);
  --ds-shadow-danger: var(--shadow-danger);
  --ds-shadow-info: var(--shadow-info);
  --ds-shadow-discovery: var(--shadow-discovery);

  /**
  * @tokens-end
  */
}
