:root {
  //----------- default tokens -------------//

  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-80: 80px;
  --size-160: 160px;
  --size-240: 240px;


  //----------- alias tokens -------------//

  /**
 * @tokens Sizes
 */

  --ds-size-16: var(--size-16);
  --ds-size-20: var(--size-20);
  --ds-size-24: var(--size-24);
  --ds-size-32: var(--size-32);
  --ds-size-40: var(--size-40);
  --ds-size-48: var(--size-48);
  --ds-size-56: var(--size-56);
  --ds-size-64: var(--size-64);
  --ds-size-80: var(--size-80);
  --ds-size-160: var(--size-160px);
  --ds-size-240: var(--size-240px);
}
