:root {
  //----------- default tokens -------------//

  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-48: 48px;
  --size-54: 54px;
  --size-56: 56px;
  --size-60: 60px;
  --size-64: 64px;
  --size-68: 68px;
  --size-72: 72px;
  --size-76: 76px;
  --size-80: 80px;
  --size-100: 100px;
  --size-120: 120px;
  --size-140: 140px;
  --size-160: 160px;
  --size-176: 176px;
  --size-200: 200px;
  --size-240: 240px;
  --size-264: 264px;
  --size-276: 276px;
  --size-288: 288px;
  --size-300: 300px;
  --size-320: 320px;
  --size-340: 340px;
  --size-400: 400px;
  --size-610: 610px;
  --size-1100: 1100px;


  //----------- alias tokens -------------//

  /**
 * @tokens Sizes
 */

  --ds-size-2: var(--size-2);
  --ds-size-4: var(--size-4);
  --ds-size-6: var(--size-6);
  --ds-size-8: var(--size-8);
  --ds-size-12: var(--size-12);
  --ds-size-14: var(--size-14);
  --ds-size-16: var(--size-16);
  --ds-size-20: var(--size-20);
  --ds-size-24: var(--size-24);
  --ds-size-28: var(--size-28);
  --ds-size-30: var(--size-30);
  --ds-size-32: var(--size-32);
  --ds-size-36: var(--size-36);
  --ds-size-40: var(--size-40);
  --ds-size-48: var(--size-48);
  --ds-size-54: var(--size-54);
  --ds-size-56: var(--size-56);
  --ds-size-60: var(--size-60);
  --ds-size-64: var(--size-64);
  --ds-size-68: var(--size-68);
  --ds-size-72: var(--size-72);
  --ds-size-76: var(--size-76);
  --ds-size-80: var(--size-80);
  --ds-size-100: var(--size-100);
  --ds-size-120: var(--size-120);
  --ds-size-140: var(--size-140);
  --ds-size-160: var(--size-160);
  --ds-size-176: var(--size-176);
  --ds-size-200: var(--size-200);
  --ds-size-240: var(--size-240);
  --ds-size-288: var(--size-288);
  --ds-size-320: var(--size-320);
  --ds-size-340: var(--size-340);
  --ds-size-400: var(--size-400);
  --ds-size-610: var(--size-610);
  --ds-size-1100: var(--size-1100);

  /**
  * @tokens-end
  */
}
