:root {
  //----------- default tokens -------------//

  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-72: 72px;
  --size-80: 80px;
  --size-100: 100px;
  --size-120: 120px;
  --size-140: 140px;
  --size-160: 160px;
  --size-240: 240px;


  //----------- alias tokens -------------//

  /**
 * @tokens Sizes
 */

  --ds-size-2: var(--size-2);
  --ds-size-4: var(--size-4);
  --ds-size-6: var(--size-6);
  --ds-size-8: var(--size-8);
  --ds-size-12: var(--size-12);
  --ds-size-16: var(--size-16);
  --ds-size-20: var(--size-20);
  --ds-size-24: var(--size-24);
  --ds-size-28: var(--size-28);
  --ds-size-32: var(--size-32);
  --ds-size-40: var(--size-40);
  --ds-size-48: var(--size-48);
  --ds-size-56: var(--size-56);
  --ds-size-64: var(--size-64);
  --ds-size-72: var(--size-72);
  --ds-size-80: var(--size-80);
  --ds-size-100: var(--size-100);
  --ds-size-120: var(--size-120);
  --ds-size-140: var(--size-140);
  --ds-size-160: var(--size-160);
  --ds-size-240: var(--size-240);

  /**
  * @tokens-end
  */
}
