:root {
  //----------- default tokens -------------//

  --space-0: 0;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-80: 80px;
  --space-160: 160px;
  --space-240: 240px;

  //----------- alias tokens -------------//

  /**
 * @tokens Spacings
 * @presenter Spacing
 */

  --ds-space-0: var(--space-0);
  --ds-space-2: var(--space-2);
  --ds-space-4: var(--space-4);
  --ds-space-6: var(--space-6);
  --ds-space-8: var(--space-8);
  --ds-space-10: var(--space-10);
  --ds-space-12: var(--space-12);
  --ds-space-14: var(--space-14);
  --ds-space-16: var(--space-16);
  --ds-space-20: var(--space-20);
  --ds-space-24: var(--space-24);
  --ds-space-32: var(--space-32);
  --ds-space-40: var(--size-40);
  --ds-space-48: var(--size-48);
  --ds-space-56: var(--size-56);
  --ds-space-64: var(--size-64);
  --ds-space-80: var(--size-80);
  --ds-space-160: var(--size-160);
  --ds-space-240: var(--size-240);

  /**
  * @tokens-end
  */
}
