{
  "branches": ["master", { "name": "alpha", "prerelease": true }],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {"pkgRoot": "dist"}],
    ["@semantic-release/npm", {"pkgRoot": ".", "npmPublish": false}],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ]
  ],
  "preset": "angular",
  "tagFormat": "${version}",
  "npmPublish": true
}