.side--navigation {
    max-width: fit-content;
    min-height: calc(100vh - 32px);
    border-right: 1px solid var(--border-ds-color-border-tertiary, #DDD);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &.close {
        .side--navigation--block--label {
            border-top: 1px solid;
            width: 70%;
            border-color: var(--ds-color-border-tertiary);
        }

    }

    .navigation--wrapper {
        text-decoration: none;
        display: block;
        color: #222;

        &--user {
            display: flex;
            justify-content: space-between;
            padding-right: var(--ds-space-12);
        }
    }

    &--block {
        &--label {
            padding: var(--ds-space-12);
        }
    }

    .collapse {
        position: absolute;
        cursor: pointer;
        top: 24px;
        right: -12px;
        border-radius: 100px;
        background: var(--background-ds-color-bg-brand, #72BF44);
        box-shadow: 0px 0px 0px 4px rgba(202, 231, 185, 0.80);
        width: 24px;
        height: 24px;
    }
}