@import 'src/assets/styles/helpers/colors';
@import 'src/assets/styles/tokens/components/button';
@import 'src/assets/styles/shared';

.custom-button{
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    font-weight: 400;
    
}
.primary{
    background-color: $ds-button-primary-background;
    color: $ds-button-primary-color;
    font-size: $ds-button-primary-font-size;
}

.secondary{
    background-color: $justWhite;
    color: $labelGray;
    border: 1px solid $secButtonBorderGray
}

.disabled{
    background-color: $borderGray;
    color: $justWhite;
}
.button-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .custom_icon{
        margin-right: 5px;
    }
}

.activeTextButton{
    background: transparent;
    color: $buttonGreen; 
}


.passiveTextButton{
    background: transparent;
    color: $textBlack; 
}

button[disabled]{
    opacity: 0.7;
  }