@import 'src/assets/styles/helpers/colors';

@import 'src/assets/styles/components/button';
@import 'src/assets/styles/shared';

.custom-button{
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    font-weight: 400;
    
}


.disabled{
    background-color: $borderGray;
    color: $justWhite;
}

.activeTextButton{
    background: transparent;
    color: $buttonGreen; 
}


.passiveTextButton{
    background: transparent;
    color: $textBlack; 
}

button[disabled]{
    opacity: 0.7;
  }