@import '../../sass/helpers/colors.scss';
@import '../../tokens/colors.scss';

.custom-button{
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    font-weight: 400;
    
}

.primary{
    background-color: $buttonGreen;
    color: var(--neutral-white);
    
}

.secondary{
    background-color: $justWhite;
    color: $labelGray;
    border: 1px solid $secButtonBorderGray
}

.disabled{
    background-color: $borderGray;
    color: $justWhite;
}
.button-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .custom_icon{
        margin-right: 5px;
    }
}

.activeTextButton{
    background: transparent;
    color: $buttonGreen; 
}


.passiveTextButton{
    background: transparent;
    color: $textBlack; 
}

button[disabled]{
    opacity: 0.7;
  }