@import '../../sass/helpers/sizes.scss';


.custom_text{
    &_xSmall{
        font-size: $smallTextSize;
    }
    &_small{
        font-size: $smallTextSize;
    }
    &_medium{
        font-size: $mediumTextSize;
    }
    &_large{
        font-size: $largeTextSize;
    }
    &_xLarge{
        font-size: $xLargeTextSize;
    }
}