@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2hmn7g');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2hmn7g#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2hmn7g') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2hmn7g') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2hmn7g##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Done is mean that the icon is have appropriate svg icon component

.icon-clock-dismiss {
  &:before {
    content: $icon-clock-dismiss; 
  }
}                  // Done
.icon-clock-dismiss-hover {
  &:before {
    content: $icon-clock-dismiss-hover; 
  }
}            // Done
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}                          // Done
.icon-globe-hover {
  &:before {
    content: $icon-globe-hover; 
  }
}                    // Done
.icon-building {
  &:before {
    content: $icon-building; 
  }
}                       // Done
.icon-building-hover {
  &:before {
    content: $icon-building-hover; 
  }
}                 // Done
.icon-document-bullet-list {
  &:before {
    content: $icon-document-bullet-list; 
  }
}
.icon-document-bullet-list-hover {
  &:before {
    content: $icon-document-bullet-list-hover; 
  }
}
.icon-notebook {
  &:before {
    content: $icon-notebook; 
  }
}
.icon-notebook-hover {
  &:before {
    content: $icon-notebook-hover; 
  }
}
.icon-signout {
  &:before {
    content: $icon-signout; 
  }
}                        // Done
.icon-signout-hover {
  &:before {
    content: $icon-signout-hover; 
  }
}                  // Done
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-clock-hover {
  &:before {
    content: $icon-clock-hover; 
  }
}
.icon-table-cell-edit {
  &:before {
    content: $icon-table-cell-edit; 
  }
}
.icon-table-cell-edit-hover {
  &:before {
    content: $icon-table-cell-edit-hover; 
  }
}
.icon-arrow-import {
  &:before {
    content: $icon-arrow-import; 
  }
}
.icon-arrow-import-hover {
  &:before {
    content: $icon-arrow-import-hover; 
  }
}
.icon-bullet-list-add {
  &:before {
    content: $icon-bullet-list-add; 
  }
}
.icon-bullet-list-add-hover {
  &:before {
    content: $icon-bullet-list-add-hover; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-location-hover {
  &:before {
    content: $icon-location-hover; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-history-hover {
  &:before {
    content: $icon-history-hover; 
  }
}
.icon-mail-link {
  &:before {
    content: $icon-mail-link; 
  }
}
.icon-mail-link-hover {
  &:before {
    content: $icon-mail-link-hover; 
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile; 
  }
}
.icon-mobile-hover {
  &:before {
    content: $icon-mobile-hover; 
  }
}
.icon-save {
  &:before {
    content: $icon-save; 
  }
}
.icon-save-hover {
  &:before {
    content: $icon-save-hover; 
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator; 
  }
}
.icon-calculator-hover {
  &:before {
    content: $icon-calculator-hover; 
  }
}
.icon-redo {
  &:before {
    content: $icon-redo; 
  }
}
.icon-redo-hover {
  &:before {
    content: $icon-redo-hover; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo; 
  }
}
.icon-undo-hover {
  &:before {
    content: $icon-undo-hover; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-book-hover {
  &:before {
    content: $icon-book-hover; 
  }
}
.icon-calendar-clock {
  &:before {
    content: $icon-calendar-clock; 
  }
}                // Done
.icon-calendar-clock-hover {
  &:before {
    content: $icon-calendar-clock-hover; 
  }
}          // Done
.icon-people-add {
  &:before {
    content: $icon-people-add; 
  }
}
.icon-people-add-hover {
  &:before {
    content: $icon-people-add-hover; 
  }
}
.icon-people {
  &:before {
    content: $icon-people; 
  }
}                        // Done
.icon-people-hover {
  &:before {
    content: $icon-people-hover; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-flag-hover {
  &:before {
    content: $icon-flag-hover; 
  }
}
.icon-arrow-export-right {
  &:before {
    content: $icon-arrow-export-right; 
  }
}
.icon-arrow-export-right-hover {
  &:before {
    content: $icon-arrow-export-right-hover; 
  }
}
.icon-arrow-export-left {
  &:before {
    content: $icon-arrow-export-left; 
  }
}
.icon-arrow-export-left-hover {
  &:before {
    content: $icon-arrow-export-left-hover; 
  }
}
.icon-arrow-export-up {
  &:before {
    content: $icon-arrow-export-up; 
  }
}
.icon-arrow-export-up-hover {
  &:before {
    content: $icon-arrow-export-up-hover; 
  }
}
.icon-beach {
  &:before {
    content: $icon-beach; 
  }
}                         // Done
.icon-beach-hover {
  &:before {
    content: $icon-beach-hover; 
  }
}                   // Done
.icon-cube-tree {
  &:before {
    content: $icon-cube-tree; 
  }
}                     // Done
.icon-cube-tree-hover {
  &:before {
    content: $icon-cube-tree-hover; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}                          // Done
.icon-list-hover {
  &:before {
    content: $icon-list-hover; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-send-hover {
  &:before {
    content: $icon-send-hover; 
  }
}
.icon-arrow-reset {
  &:before {
    content: $icon-arrow-reset; 
  }
}                   // Done
.icon-arrow-reset-hover {
  &:before {
    content: $icon-arrow-reset-hover; 
  }
}             // Done
.icon-status {
  &:before {
    content: $icon-status; 
  }
}
.icon-status-hover {
  &:before {
    content: $icon-status-hover; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}                      // Done
.icon-document-hover {
  &:before {
    content: $icon-document-hover; 
  }
}                // Done
.icon-person-star {
  &:before {
    content: $icon-person-star; 
  }
}
.icon-person-star-hover {
  &:before {
    content: $icon-person-star-hover; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-database-hover {
  &:before {
    content: $icon-database-hover; 
  }
}
.icon-mail-add {
  &:before {
    content: $icon-mail-add; 
  }
}
.icon-mail-add-hover {
  &:before {
    content: $icon-mail-add-hover; 
  }
}
.icon-mail-arrow-forward {
  &:before {
    content: $icon-mail-arrow-forward; 
  }
}
.icon-mail-arrow-forward-hover {
  &:before {
    content: $icon-mail-arrow-forward-hover; 
  }
}
.icon-arrow-download {
  &:before {
    content: $icon-arrow-download; 
  }
}                 // Done
.icon-arrow-download-hover {
  &:before {
    content: $icon-arrow-download-hover; 
  }
}           // Done
.icon-check-send {
  &:before {
    content: $icon-check-send; 
  }
}
.icon-check-send-hover {
  &:before {
    content: $icon-check-send-hover; 
  }
}
.icon-pos {
  &:before {
    content: $icon-pos; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-menu-hover {
  &:before {
    content: $icon-menu-hover; 
  }
}
.icon-phone-hover {
  &:before {
    content: $icon-phone-hover; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-add-circle-hover {
  &:before {
    content: $icon-add-circle-hover; 
  }
}
.icon-add-circle {
  &:before {
    content: $icon-add-circle; 
  }
}
.icon-add-hover {
  &:before {
    content: $icon-add-hover; 
  }
}                      // Done
.icon-add {
  &:before {
    content: $icon-add; 
  }
}                            // Done
.icon-notification2-hover {
  &:before {
    content: $icon-notification2-hover; 
  }
}
.icon-notification2 {
  &:before {
    content: $icon-notification2; 
  }
}
.icon-notification-hover {
  &:before {
    content: $icon-notification-hover; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-arrow2-down-left-hover {
  &:before {
    content: $icon-arrow2-down-left-hover; 
  }
}         // Done
.icon-arrow2-down-left {
  &:before {
    content: $icon-arrow2-down-left; 
  }
}               // Done
.icon-arrow2-up-left-hover {
  &:before {
    content: $icon-arrow2-up-left-hover; 
  }
}           // Done
.icon-arrow2-up-left {
  &:before {
    content: $icon-arrow2-up-left; 
  }
}                 // Done
.icon-arrow2-up-right-hover {
  &:before {
    content: $icon-arrow2-up-right-hover; 
  }
}          // Done
.icon-arrow2-up-right {
  &:before {
    content: $icon-arrow2-up-right; 
  }
}                // Done
.icon-arrow2-down-hover {
  &:before {
    content: $icon-arrow2-down-hover; 
  }
}              // Done
.icon-arrow2-down {
  &:before {
    content: $icon-arrow2-down; 
  }
}                    // Done
.icon-arrow2-left-hover {
  &:before {
    content: $icon-arrow2-left-hover; 
  }
}              // Done
.icon-arrow2-left {
  &:before {
    content: $icon-arrow2-left; 
  }
}                    // Done
.icon-arrow2-right-hover {
  &:before {
    content: $icon-arrow2-right-hover; 
  }
}             // Done
.icon-arrow2-right {
  &:before {
    content: $icon-arrow2-right; 
  }
}                   // Done
.icon-arrow2-up-hover {
  &:before {
    content: $icon-arrow2-up-hover; 
  }
}                // Done
.icon-arrow2-up {
  &:before {
    content: $icon-arrow2-up; 
  }
}                      // Done
.icon-login-hover {
  &:before {
    content: $icon-login-hover; 
  }
}                    // Done
.icon-login {
  &:before {
    content: $icon-login; 
  }
}                          // Done
.icon-logout-hover {
  &:before {
    content: $icon-logout-hover; 
  }
}                   // Done
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}                         // Done
.icon-repeat-hover {
  &:before {
    content: $icon-repeat-hover; 
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat; 
  }
}
.icon-attach-hover {
  &:before {
    content: $icon-attach-hover; 
  }
}
.icon-attach {
  &:before {
    content: $icon-attach; 
  }
}
.icon-bookmark-hover {
  &:before {
    content: $icon-bookmark-hover; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-calendar-hover {
  &:before {
    content: $icon-calendar-hover; 
  }
}                  // Done
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}                        // Done
.icon-calendar2-hover {
  &:before {
    content: $icon-calendar2-hover; 
  }
}                 // Done
.icon-calendar2 {
  &:before {
    content: $icon-calendar2; 
  }
}                       // Done
.icon-caret-down-right-hover {
  &:before {
    content: $icon-caret-down-right-hover; 
  }
}          // Done
.icon-caret-down-right {
  &:before {
    content: $icon-caret-down-right; 
  }
}                // Done
.icon-caret-down-hover {
  &:before {
    content: $icon-caret-down-hover; 
  }
}                // Done
.icon-caret-down {
  &:before {
    content: $icon-caret-down; 
  }
}                      // Done
.icon-caret-left-hover {
  &:before {
    content: $icon-caret-left-hover; 
  }
}                // Done
.icon-caret-left {
  &:before {
    content: $icon-caret-left; 
  }
}                      // Done
.icon-caret-right-hover {
  &:before {
    content: $icon-caret-right-hover; 
  }
}               // Done
.icon-caret-right {
  &:before {
    content: $icon-caret-right; 
  }
}                     // Done
.icon-caret-up-hover {
  &:before {
    content: $icon-caret-up-hover; 
  }
}                  // Done
.icon-caret-up {
  &:before {
    content: $icon-caret-up; 
  }
}                        // Done
.icon-mark-hover {
  &:before {
    content: $icon-mark-hover; 
  }
}                      // Done
.icon-mark {
  &:before {
    content: $icon-mark; 
  }
}                            // Done
.icon-arrow-down-hover {
  &:before {
    content: $icon-arrow-down-hover; 
  }
}                // Done
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}                      // Done
.icon-arrow-left-hover {
  &:before {
    content: $icon-arrow-left-hover; 
  }
}                // Done
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}                      // Done
.icon-arrow-right-hover {
  &:before {
    content: $icon-arrow-right-hover; 
  }
}               // Done
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}                     // Done
.icon-arrow-up-hover {
  &:before {
    content: $icon-arrow-up-hover; 
  }
}                  // Done
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}                        // Done
.icon-checkmark-hover {
  &:before {
    content: $icon-checkmark-hover; 
  }
}                 // Done
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}                       // Done
.icon-comment-hover {
  &:before {
    content: $icon-comment-hover; 
  }
}                   // Done
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}                         // Done
.icon-copy-hover {
  &:before {
    content: $icon-copy-hover; 
  }
}                      // Done
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}                            // Done
.icon-trash-hover {
  &:before {
    content: $icon-trash-hover; 
  }
}                     // Done
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}                           // Done
.icon-close-hover {
  &:before {
    content: $icon-close-hover; 
  }
}                     // Done
.icon-close {
  &:before {
    content: $icon-close; 
  }
}                           // Done
.icon-edit-hover {
  &:before {
    content: $icon-edit-hover; 
  }
}                      // Done
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}                            // Done
.icon-error-hover {
  &:before {
    content: $icon-error-hover; 
  }
}                     // Done
.icon-error {
  &:before {
    content: $icon-error; 
  }
}                           // Done
.icon-expand-left-hover {
  &:before {
    content: $icon-expand-left-hover; 
  }
}               // Done
.icon-expand-left {
  &:before {
    content: $icon-expand-left; 
  }
}                     // Done
.icon-expand-right {
  &:before {
    content: $icon-expand-right; 
  }
}                    // Done
.icon-expand-right-hover {
  &:before {
    content: $icon-expand-right-hover; 
  }
}              // Done
.icon-eye-off-hover {
  &:before {
    content: $icon-eye-off-hover; 
  }
}                   // Done
.icon-eye-off {
  &:before {
    content: $icon-eye-off; 
  }
}                         // Done
.icon-eye-on-hover {
  &:before {
    content: $icon-eye-on-hover; 
  }
}                    // Done
.icon-eye-on {
  &:before {
    content: $icon-eye-on; 
  }
}                          // Done
.icon-filter-hover {
  &:before {
    content: $icon-filter-hover; 
  }
}                    // Done
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}                          // Done
.icon-home-hover {
  &:before {
    content: $icon-home-hover; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-info-hover {
  &:before {
    content: $icon-info-hover; 
  }
}                      // Done
.icon-info {
  &:before {
    content: $icon-info; 
  }
}                            // Done
.icon-favorite {
  &:before {
    content: $icon-favorite; 
  }
}
.icon-favorite-hover {
  &:before {
    content: $icon-favorite-hover; 
  }
}
.icon-image-hover {
  &:before {
    content: $icon-image-hover; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-link-hover {
  &:before {
    content: $icon-link-hover; 
  }
}
.icon-lock-hover {
  &:before {
    content: $icon-lock-hover; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-unlock-hover {
  &:before {
    content: $icon-unlock-hover; 
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock; 
  }
}
.icon-more-hover {
  &:before {
    content: $icon-more-hover; 
  }
}                       // Done
.icon-more {
  &:before {
    content: $icon-more; 
  }
}                             // Done
.icon-more-vertical-hover {
  &:before {
    content: $icon-more-vertical-hover; 
  }
}
.icon-more-vertical {
  &:before {
    content: $icon-more-vertical; 
  }
}
.icon-notebook-add-hover {
  &:before {
    content: $icon-notebook-add-hover; 
  }
}
.icon-notebook-add {
  &:before {
    content: $icon-notebook-add; 
  }
}
.icon-question-hover {
  &:before {
    content: $icon-question-hover; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-savings-hover {
  &:before {
    content: $icon-savings-hover; 
  }
}
.icon-savings {
  &:before {
    content: $icon-savings; 
  }
}
.icon-search-hover {
  &:before {
    content: $icon-search-hover; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-select-all-hover {
  &:before {
    content: $icon-select-all-hover; 
  }
}
.icon-select-all {
  &:before {
    content: $icon-select-all; 
  }
}
.icon-select-all-check {
  &:before {
    content: $icon-select-all-check; 
  }
}
.icon-select-all-check-hover {
  &:before {
    content: $icon-select-all-check-hover; 
  }
}
.icon-settings-hover {
  &:before {
    content: $icon-settings-hover; 
  }
}                       // Done
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}                             // Done
.icon-share-hover {
  &:before {
    content: $icon-share-hover; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-share2-hover {
  &:before {
    content: $icon-share2-hover; 
  }
}
.icon-share2 {
  &:before {
    content: $icon-share2; 
  }
}
.icon-spinner-hover {
  &:before {
    content: $icon-spinner-hover; 
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner; 
  }
}
.icon-minus-circle-hover {
  &:before {
    content: $icon-minus-circle-hover; 
  }
}                  // Done
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}                        // Done
.icon-minus-hover {
  &:before {
    content: $icon-minus-hover; 
  }
}                         // Done
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}                               // Done
.icon-wallet-hover {
  &:before {
    content: $icon-wallet-hover; 
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.icon-warning-hover {
  &:before {
    content: $icon-warning-hover; 
  }
}                       // Done
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}                             // Done
.icon-open {
  &:before {
    content: $icon-open; 
  }
}
.icon-open-hover {
  &:before {
    content: $icon-open-hover; 
  }
}
.icon-chevron-up-down {
  &:before {
    content: $icon-chevron-up-down; 
  }
}
.icon-chevron-up-down-hover {
  &:before {
    content: $icon-chevron-up-down-hover; 
  }
}
.icon-dismiss-circle {
  &:before {
    content: $icon-dismiss-circle; 
  }
}                     // Done
.icon-dismiss-circle-hover {
  &:before {
    content: $icon-dismiss-circle-hover; 
  }
}               // Done
.icon-blocked {
  &:before {
    content: $icon-blocked; 
  }
}
.icon-blocked-hover {
  &:before {
    content: $icon-blocked-hover; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-briefcase-hover {
  &:before {
    content: $icon-briefcase-hover; 
  }
}
.icon-terminate {
  &:before {
    content: $icon-terminate; 
  }
}
.icon-terminate-hover {
  &:before {
    content: $icon-terminate-hover; 
  }
}
.icon-add-user {
  &:before {
    content: $icon-add-user; 
  }
}
.icon-add-user-hover {
  &:before {
    content: $icon-add-user-hover; 
  }
}
.icon-dram {
  &:before {
    content: $icon-dram; 
  }
}
.icon-percent {
  &:before {
    content: $icon-percent; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-mail-hover {
  &:before {
    content: $icon-mail-hover; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}                                // Done
.icon-user-hover {
  &:before {
    content: $icon-user-hover; 
  }
}                          // Done
.icon-units-employee {
  &:before {
    content: $icon-units-employee; 
  }
}                      // Done
.icon-project-product {
  &:before {
    content: $icon-project-product; 
  }
}                     // Done
.icon-only-employee {
  &:before {
    content: $icon-only-employee; 
  }
}                       // Done
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-medium {
  &:before {
    content: $icon-medium; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}

