$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-signout: unquote('"\\e9e5"');
$icon-signout-hover: unquote('"\\e9e6"');
$icon-clock: unquote('"\\e9df"');
$icon-clock-hover: unquote('"\\e9e0"');
$icon-table-cell-edit: unquote('"\\e9e1"');
$icon-table-cell-edit-hover: unquote('"\\e9e2"');
$icon-arrow-import: unquote('"\\e9e3"');
$icon-arrow-import-hover: unquote('"\\e9e4"');
$icon-bullet-list-add: unquote('"\\e9d9"');
$icon-bullet-list-add-hover: unquote('"\\e9da"');
$icon-location: unquote('"\\e9db"');
$icon-location-hover: unquote('"\\e9dc"');
$icon-history: unquote('"\\e9dd"');
$icon-history-hover: unquote('"\\e9de"');
$icon-mail-link: unquote('"\\e9d8"');
$icon-mail-link-hover: unquote('"\\e9d7"');
$icon-mobile: unquote('"\\e9d6"');
$icon-mobile-hover: unquote('"\\e9d5"');
$icon-save: unquote('"\\e9d3"');
$icon-save-hover: unquote('"\\e9d4"');
$icon-calculator: unquote('"\\e9d1"');
$icon-calculator-hover: unquote('"\\e9d2"');
$icon-redo: unquote('"\\e9cd"');
$icon-redo-hover: unquote('"\\e9ce"');
$icon-undo: unquote('"\\e9cf"');
$icon-undo-hover: unquote('"\\e9d0"');
$icon-book: unquote('"\\e9c3"');
$icon-book-hover: unquote('"\\e9c4"');
$icon-calendar-clock: unquote('"\\e9c5"');
$icon-calendar-clock-hover: unquote('"\\e9c6"');
$icon-people-add: unquote('"\\e9c7"');
$icon-people-add-hover: unquote('"\\e9c8"');
$icon-people: unquote('"\\e9c9"');
$icon-people-hover: unquote('"\\e9ca"');
$icon-flag: unquote('"\\e9cb"');
$icon-flag-hover: unquote('"\\e9cc"');
$icon-arrow-export-right: unquote('"\\e9bd"');
$icon-arrow-export-right-hover: unquote('"\\e9be"');
$icon-arrow-export-left: unquote('"\\e9bf"');
$icon-arrow-export-left-hover: unquote('"\\e9c0"');
$icon-arrow-export-up: unquote('"\\e9c1"');
$icon-arrow-export-up-hover: unquote('"\\e9c2"');
$icon-beach: unquote('"\\e9b7"');
$icon-beach-hover: unquote('"\\e9b8"');
$icon-cube-tree: unquote('"\\e9b9"');
$icon-cube-tree-hover: unquote('"\\e9ba"');
$icon-list: unquote('"\\e9bb"');
$icon-list-hover: unquote('"\\e9bc"');
$icon-send: unquote('"\\e9b5"');
$icon-send-hover: unquote('"\\e9b6"');
$icon-arrow-reset: unquote('"\\e9b2"');
$icon-arrow-reset-hover: unquote('"\\e9b1"');
$icon-status: unquote('"\\e9b4"');
$icon-status-hover: unquote('"\\e9b3"');
$icon-document: unquote('"\\e9ab"');
$icon-document-hover: unquote('"\\e9ac"');
$icon-person-star: unquote('"\\e9ad"');
$icon-person-star-hover: unquote('"\\e9ae"');
$icon-database: unquote('"\\e9af"');
$icon-database-hover: unquote('"\\e9b0"');
$icon-mail-add: unquote('"\\e9a9"');
$icon-mail-add-hover: unquote('"\\e9aa"');
$icon-mail-arrow-forward: unquote('"\\e9a5"');
$icon-mail-arrow-forward-hover: unquote('"\\e9a6"');
$icon-arrow-download: unquote('"\\e9a7"');
$icon-arrow-download-hover: unquote('"\\e9a8"');
$icon-check-send: unquote('"\\e9a3"');
$icon-check-send-hover: unquote('"\\e9a4"');
$icon-pos: unquote('"\\e91b"');
$icon-menu: unquote('"\\e901"');
$icon-menu-hover: unquote('"\\e900"');
$icon-phone-hover: unquote('"\\e902"');
$icon-phone: unquote('"\\e903"');
$icon-add-circle-hover: unquote('"\\e904"');
$icon-add-circle: unquote('"\\e905"');
$icon-add-hover: unquote('"\\e908"');
$icon-add: unquote('"\\e909"');
$icon-notification2-hover: unquote('"\\e90a"');
$icon-notification2: unquote('"\\e90b"');
$icon-notification-hover: unquote('"\\e90c"');
$icon-notification: unquote('"\\e90d"');
$icon-arrow2-down-left-hover: unquote('"\\e90f"');
$icon-arrow2-down-left: unquote('"\\e91d"');
$icon-arrow2-up-left-hover: unquote('"\\e91e"');
$icon-arrow2-up-left: unquote('"\\e91f"');
$icon-arrow2-up-right-hover: unquote('"\\e920"');
$icon-arrow2-up-right: unquote('"\\e921"');
$icon-arrow2-down-hover: unquote('"\\e922"');
$icon-arrow2-down: unquote('"\\e923"');
$icon-arrow2-left-hover: unquote('"\\e924"');
$icon-arrow2-left: unquote('"\\e925"');
$icon-arrow2-right-hover: unquote('"\\e926"');
$icon-arrow2-right: unquote('"\\e927"');
$icon-arrow2-up-hover: unquote('"\\e928"');
$icon-arrow2-up: unquote('"\\e929"');
$icon-login-hover: unquote('"\\e92a"');
$icon-login: unquote('"\\e92b"');
$icon-logout-hover: unquote('"\\e92c"');
$icon-logout: unquote('"\\e92d"');
$icon-repeat-hover: unquote('"\\e92e"');
$icon-repeat: unquote('"\\e92f"');
$icon-attach-hover: unquote('"\\e930"');
$icon-attach: unquote('"\\e931"');
$icon-bookmark-hover: unquote('"\\e932"');
$icon-bookmark: unquote('"\\e933"');
$icon-calendar-hover: unquote('"\\e934"');
$icon-calendar: unquote('"\\e935"');
$icon-calendar2-hover: unquote('"\\e936"');
$icon-calendar2: unquote('"\\e937"');
$icon-caret-down-right-hover: unquote('"\\e938"');
$icon-caret-down-right: unquote('"\\e939"');
$icon-caret-down-hover: unquote('"\\e93a"');
$icon-caret-down: unquote('"\\e93b"');
$icon-caret-left-hover: unquote('"\\e93c"');
$icon-caret-left: unquote('"\\e93d"');
$icon-caret-right-hover: unquote('"\\e93e"');
$icon-caret-right: unquote('"\\e93f"');
$icon-caret-up-hover: unquote('"\\e940"');
$icon-caret-up: unquote('"\\e941"');
$icon-mark-hover: unquote('"\\e942"');
$icon-mark: unquote('"\\e943"');
$icon-arrow-down-hover: unquote('"\\e944"');
$icon-arrow-down: unquote('"\\e945"');
$icon-arrow-left-hover: unquote('"\\e946"');
$icon-arrow-left: unquote('"\\e947"');
$icon-arrow-right-hover: unquote('"\\e948"');
$icon-arrow-right: unquote('"\\e949"');
$icon-arrow-up-hover: unquote('"\\e94a"');
$icon-arrow-up: unquote('"\\e94d"');
$icon-checkmark-hover: unquote('"\\e94e"');
$icon-checkmark: unquote('"\\e94f"');
$icon-comment-hover: unquote('"\\e950"');
$icon-comment: unquote('"\\e951"');
$icon-copy-hover: unquote('"\\e952"');
$icon-copy: unquote('"\\e953"');
$icon-trash-hover: unquote('"\\e954"');
$icon-trash: unquote('"\\e955"');
$icon-close-hover: unquote('"\\e956"');
$icon-close: unquote('"\\e957"');
$icon-edit-hover: unquote('"\\e958"');
$icon-edit: unquote('"\\e959"');
$icon-error-hover: unquote('"\\e95a"');
$icon-error: unquote('"\\e964"');
$icon-expand-left-hover: unquote('"\\e965"');
$icon-expand-left: unquote('"\\e966"');
$icon-expand-right: unquote('"\\e967"');
$icon-expand-right-hover: unquote('"\\e968"');
$icon-eye-off-hover: unquote('"\\e969"');
$icon-eye-off: unquote('"\\e96a"');
$icon-eye-on-hover: unquote('"\\e96b"');
$icon-eye-on: unquote('"\\e96c"');
$icon-filter-hover: unquote('"\\e96d"');
$icon-filter: unquote('"\\e96e"');
$icon-home-hover: unquote('"\\e96f"');
$icon-home: unquote('"\\e970"');
$icon-info-hover: unquote('"\\e971"');
$icon-info: unquote('"\\e972"');
$icon-favorite: unquote('"\\e973"');
$icon-favorite-hover: unquote('"\\e974"');
$icon-image-hover: unquote('"\\e975"');
$icon-image: unquote('"\\e976"');
$icon-link: unquote('"\\e977"');
$icon-link-hover: unquote('"\\e978"');
$icon-lock-hover: unquote('"\\e979"');
$icon-lock: unquote('"\\e97a"');
$icon-unlock-hover: unquote('"\\e97b"');
$icon-unlock: unquote('"\\e97c"');
$icon-more-hover: unquote('"\\e97d"');
$icon-more: unquote('"\\e97e"');
$icon-more-vertical-hover: unquote('"\\e97f"');
$icon-more-vertical: unquote('"\\e980"');
$icon-notebook-add-hover: unquote('"\\e981"');
$icon-notebook-add: unquote('"\\e982"');
$icon-question-hover: unquote('"\\e983"');
$icon-question: unquote('"\\e984"');
$icon-savings-hover: unquote('"\\e985"');
$icon-savings: unquote('"\\e986"');
$icon-search-hover: unquote('"\\e987"');
$icon-search: unquote('"\\e988"');
$icon-select-all-hover: unquote('"\\e989"');
$icon-select-all: unquote('"\\e98a"');
$icon-select-all-check: unquote('"\\e98b"');
$icon-select-all-check-hover: unquote('"\\e98c"');
$icon-settings-hover: unquote('"\\e98d"');
$icon-settings: unquote('"\\e98e"');
$icon-share-hover: unquote('"\\e98f"');
$icon-share: unquote('"\\e990"');
$icon-share2-hover: unquote('"\\e991"');
$icon-share2: unquote('"\\e992"');
$icon-spinner-hover: unquote('"\\e993"');
$icon-spinner: unquote('"\\e994"');
$icon-minus-circle-hover: unquote('"\\e995"');
$icon-minus-circle: unquote('"\\e996"');
$icon-minus-hover: unquote('"\\e997"');
$icon-minus: unquote('"\\e998"');
$icon-wallet-hover: unquote('"\\e999"');
$icon-wallet: unquote('"\\e99a"');
$icon-warning-hover: unquote('"\\e99b"');
$icon-warning: unquote('"\\e99c"');
$icon-open: unquote('"\\e99d"');
$icon-open-hover: unquote('"\\e99e"');
$icon-chevron-up-down: unquote('"\\e99f"');
$icon-chevron-up-down-hover: unquote('"\\e9a0"');
$icon-dismiss-circle: unquote('"\\e962"');
$icon-dismiss-circle-hover: unquote('"\\e963"');
$icon-blocked: unquote('"\\e960"');
$icon-blocked-hover: unquote('"\\e961"');
$icon-briefcase: unquote('"\\e95c"');
$icon-briefcase-hover: unquote('"\\e95d"');
$icon-terminate: unquote('"\\e95e"');
$icon-terminate-hover: unquote('"\\e95f"');
$icon-add-user: unquote('"\\e90e"');
$icon-add-user-hover: unquote('"\\e95b"');
$icon-dram: unquote('"\\e906"');
$icon-percent: unquote('"\\e907"');
$icon-mail: unquote('"\\e9a1"');
$icon-mail-hover: unquote('"\\e9a2"');
$icon-user: unquote('"\\e94b"');
$icon-user-hover: unquote('"\\e94c"');
$icon-units-employee: unquote('"\\e91c"');
$icon-project-product: unquote('"\\e910"');
$icon-only-employee: unquote('"\\e911"');
$icon-linkedin: unquote('"\\e912"');
$icon-google: unquote('"\\e913"');
$icon-youtube: unquote('"\\e914"');
$icon-apple: unquote('"\\e915"');
$icon-instagram: unquote('"\\e916"');
$icon-facebook: unquote('"\\e917"');
$icon-twitter: unquote('"\\e918"');
$icon-medium: unquote('"\\e919"');
$icon-telegram: unquote('"\\e91a"');

