.counter{
  display: flex;
  flex-direction: column;
  width: 120px;
    & p {
      padding: 0 var(--ds-space-8);
    }
    input {
      text-align: center;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none
    }
    }
    .action_active{
      cursor: pointer;
    }
      
}