@import '../../sass/helpers/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background:$justWhite;
  box-shadow: 0px 5px 20px rgba(14, 14, 14, 0.06);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 1;
}