@import 'src/assets/styles/helpers/colors';

.custom_progress{
    background-color: #F6F6F6;
    height: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    &_filled{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 4px;
        background-color: $inputBorderActive;
    }
}