@import 'src/assets/styles/helpers/colors';

.select-container{
    .label{
        margin-bottom: 8px;
      }
    position: relative;
    user-select: none
   
}


.selected-item-container {
    box-sizing: border-box;
    border: 1px solid $inputBorderGray;
    color: $labelGray;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    align-items: center;
    padding: 0 10px 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    &.opened{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
    }
}

.select-options-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    background: $justWhite;
    z-index: 1;
    box-shadow: 1px 8px 10px 2px #f2f2f2;
    border-radius: 5px;
    left: 0;
    top: 100%;
    width: 100%;
    border-bottom: 1px solid $inputBorderGray;
    border-left: 1px solid $inputBorderGray;
    border-right: 1px solid $inputBorderGray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
   
}

.select-option{
    padding: 10px;
    cursor: pointer;
}

.select-option:hover{
    background-color:  #F6F6F6;
}