@import 'src/assets/styles/helpers/colors';

.custom_icon{
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon_wrapper {
    width: 40px;
    height: 40px;
    background-color: $justWhite;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    .custom_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}