@import 'src/assets/styles/shared';

.hint-text {
    @include flexbox;
    @include align-items(center);
    position:absolute;
    margin-top: 4px;
    font-size: var(--ds-paragraph-sm);

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 4px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}