@import 'src/assets/styles/helpers/colors';

.error-message {
    --error-message-icon-size: var(--ds-size-16);
    --error-message-margin: var(--ds-space-4) 0 0 0;
    --error-message-icon-margin: 0 var(--ds-space-4) 0 0;
    --error-message-icon-color: var(--ds-color-icon-danger);

    display: inline-flex;
    align-items: center;
    position:absolute;
    margin: var(--error-message-margin);

    &__icon {
        width: var(--error-message-icon-size);
        height: var(--error-message-icon-size);
        margin: var(--error-message-icon-margin);

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: var(--error-message-icon-color);
            }
        }
    }
}