@use "sass:map";
@use "sass:meta";

@import "./mixin";



//***** font sizes *****//

.fs-10 { @include font('--font-size-10'); }
.fs-12 { @include font('--font-size-12'); }
.fs-14 { @include font('--font-size-14'); }
.fs-16 { @include font('--font-size-16'); }
.fs-20 { @include font('--font-size-20'); }
.fs-24 { @include font('--font-size-24'); }
.fs-32 { @include font('--font-size-32'); }
.fs-36 { @include font('--font-size-36'); }
.fs-40 { @include font('--font-size-40'); }
.fs-48 { @include font('--font-size-48'); }
.fs-64 { @include font('--font-size-64'); }

//***** font weight *******//

.fw-400 { @include font-weight('--font-weight-400'); }
.fw-500 { @include font-weight('--font-weight-500'); }
.fw-600 { @include font-weight('--font-weight-600'); }
.fw-700 { @include font-weight('--font-weight-700'); }


//***** margin and padding *****//

$space-values: (
                0,
                2,
                4,
                6,
                8,
                12,
                16,
                20,
                24,
                32,
                40,
                64,
                80,
                160,
                240,
                auto
)!default;

//shorthands
$space-prefixes: (
         m : margin,
        mt : margin-top,
        mr : margin-right,
        mb : margin-bottom,
        ml : margin-left,

         p : padding,
        pt : padding-top,
        pr : padding-right,
        pb : padding-bottom,
        pl : padding-left
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes {
    @each $value in $space-values {
      .#{$attr-short}-#{$value} {
        @if $value == 'auto' { /*add the @if loop*/
          #{$attr-long}: #{$value};
        } @else {
          #{$attr-long}: #{$value}#{'px'};
        }
      }
    }
  }
}

@include make-spaces();


//***** colors *******//

.text-color {
  &.brand {
    @include color(brand, 'base');
    &.clr-900 { @include color( brand, '--color-900' ) }
    &.clr-800 { @include color( brand, '--color-800' ) }
    &.clr-700 { @include color( brand, '--color-700' ) }
    &.clr-600 { @include color( brand, '--color-600' ) }
    &.clr-500 { @include color( brand, '--color-500' ) }
    &.clr-400 { @include color( brand, '--color-400' ) }
    &.clr-300 { @include color( brand, '--color-300' ) }
    &.clr-200 { @include color( brand, '--color-200' ) }
    &.clr-100 { @include color( brand, '--color-100' ) }
    &.clr-50  { @include color( brand, '--color-50' ) }
    &.clr-40  { @include color( brand, '--color-40' ) }
    &.clr-30  { @include color( brand, '--color-30' ) }
    &.clr-20  { @include color( brand, '--color-20' ) }
  }
  &.green {
    @include color(green, 'base');
    &.clr-900 { @include color( green, '--color-900' ) }
    &.clr-800 { @include color( green, '--color-800' ) }
    &.clr-700 { @include color( green, '--color-700' ) }
    &.clr-600 { @include color( green, '--color-600' ) }
    &.clr-500 { @include color( green, '--color-500' ) }
    &.clr-400 { @include color( green, '--color-400' ) }
    &.clr-300 { @include color( green, '--color-300' ) }
    &.clr-200 { @include color( green, '--color-200' ) }
    &.clr-100 { @include color( green, '--color-100' ) }
    &.clr-50  { @include color( green, '--color-50' ) }
  }
  &.blue {
    @include color(blue, 'base');
    &.clr-900 { @include color( blue, '--color-900' ) }
    &.clr-800 { @include color( blue, '--color-800' ) }
    &.clr-700 { @include color( blue, '--color-700' ) }
    &.clr-600 { @include color( blue, '--color-600' ) }
    &.clr-500 { @include color( blue, '--color-500' ) }
    &.clr-400 { @include color( blue, '--color-400' ) }
    &.clr-300 { @include color( blue, '--color-300' ) }
    &.clr-200 { @include color( blue, '--color-200' ) }
    &.clr-100 { @include color( blue, '--color-100' ) }
    &.clr-50  { @include color( blue, '--color-50' ) }
  }
  &.purple {
    @include color(purple, 'base');
    &.clr-900 { @include color( purple, '--color-900' ) }
    &.clr-800 { @include color( purple, '--color-800' ) }
    &.clr-700 { @include color( purple, '--color-700' ) }
    &.clr-600 { @include color( purple, '--color-600' ) }
    &.clr-500 { @include color( purple, '--color-500' ) }
    &.clr-400 { @include color( purple, '--color-400' ) }
    &.clr-300 { @include color( purple, '--color-300' ) }
    &.clr-200 { @include color( purple, '--color-200' ) }
    &.clr-100 { @include color( purple, '--color-100' ) }
    &.clr-50  { @include color( purple, '--color-50' ) }
  }
  &.pink {
    @include color(pink, 'base');
    &.clr-900 { @include color( pink, '--color-900' ) }
    &.clr-800 { @include color( pink, '--color-800' ) }
    &.clr-700 { @include color( pink, '--color-700' ) }
    &.clr-600 { @include color( pink, '--color-600' ) }
    &.clr-500 { @include color( pink, '--color-500' ) }
    &.clr-400 { @include color( pink, '--color-400' ) }
    &.clr-300 { @include color( pink, '--color-300' ) }
    &.clr-200 { @include color( pink, '--color-200' ) }
    &.clr-100 { @include color( pink, '--color-100' ) }
    &.clr-50  { @include color( pink, '--color-50' ) }
  }
  &.red {
    @include color(red, 'base');
    &.clr-900 { @include color( red, '--color-900' ) }
    &.clr-800 { @include color( red, '--color-800' ) }
    &.clr-700 { @include color( red, '--color-700' ) }
    &.clr-600 { @include color( red, '--color-600' ) }
    &.clr-500 { @include color( red, '--color-500' ) }
    &.clr-400 { @include color( red, '--color-400' ) }
    &.clr-300 { @include color( red, '--color-300' ) }
    &.clr-200 { @include color( red, '--color-200' ) }
    &.clr-100 { @include color( red, '--color-100' ) }
    &.clr-50  { @include color( red, '--color-50' ) }
  }
  &.yellow {
    @include color(yellow, 'base');
    &.clr-900 { @include color( yellow, '--color-900' ) }
    &.clr-800 { @include color( yellow, '--color-800' ) }
    &.clr-700 { @include color( yellow, '--color-700' ) }
    &.clr-600 { @include color( yellow, '--color-600' ) }
    &.clr-500 { @include color( yellow, '--color-500' ) }
    &.clr-400 { @include color( yellow, '--color-400' ) }
    &.clr-300 { @include color( yellow, '--color-300' ) }
    &.clr-200 { @include color( yellow, '--color-200' ) }
    &.clr-100 { @include color( yellow, '--color-100' ) }
    &.clr-50  { @include color( yellow, '--color-50' ) }
  }
  &.grey {
    @include color(grey, 'base');
    &.clr-900 { @include color( grey, '--color-900' ) }
    &.clr-800 { @include color( grey, '--color-800' ) }
    &.clr-700 { @include color( grey, '--color-700' ) }
    &.clr-600 { @include color( grey, '--color-600' ) }
    &.clr-500 { @include color( grey, '--color-500' ) }
    &.clr-400 { @include color( grey, '--color-400' ) }
    &.clr-300 { @include color( grey, '--color-300' ) }
    &.clr-200 { @include color( grey, '--color-200' ) }
    &.clr-100 { @include color( grey, '--color-100' ) }
    &.clr-50  { @include color( grey, '--color-50' ) }
    &.clr-40  { @include color( grey, '--color-40' ) }
    &.clr-30  { @include color( grey, '--color-30' ) }
    &.clr-20  { @include color( grey, '--color-20' ) }
  }
  &.white {
    @include color(white, 'base');
  }
}


//***** background color ******//

.bg-color {
  &.brand {
    @include background-color(brand, 'base');
    &.clr-900 { @include background-color( brand, '--color-900' ) }
    &.clr-800 { @include background-color( brand, '--color-800' ) }
    &.clr-700 { @include background-color( brand, '--color-700' ) }
    &.clr-600 { @include background-color( brand, '--color-600' ) }
    &.clr-500 { @include background-color( brand, '--color-500' ) }
    &.clr-400 { @include background-color( brand, '--color-400' ) }
    &.clr-300 { @include background-color( brand, '--color-300' ) }
    &.clr-200 { @include background-color( brand, '--color-200' ) }
    &.clr-100 { @include background-color( brand, '--color-100' ) }
    &.clr-50  { @include background-color( brand, '--color-50' ) }
    &.clr-40  { @include background-color( brand, '--color-40' ) }
    &.clr-30  { @include background-color( brand, '--color-30' ) }
    &.clr-20  { @include background-color( brand, '--color-20' ) }
  }
  &.green {
    @include background-color(green, 'base');
    &.clr-900 { @include background-color( green, '--color-900' ) }
    &.clr-800 { @include background-color( green, '--color-800' ) }
    &.clr-700 { @include background-color( green, '--color-700' ) }
    &.clr-600 { @include background-color( green, '--color-600' ) }
    &.clr-500 { @include background-color( green, '--color-500' ) }
    &.clr-400 { @include background-color( green, '--color-400' ) }
    &.clr-300 { @include background-color( green, '--color-300' ) }
    &.clr-200 { @include background-color( green, '--color-200' ) }
    &.clr-100 { @include background-color( green, '--color-100' ) }
    &.clr-50  { @include background-color( green, '--color-50' ) }
  }
  &.blue {
    @include background-color(blue, 'base');
    &.clr-900 { @include background-color( blue, '--color-900' ) }
    &.clr-800 { @include background-color( blue, '--color-800' ) }
    &.clr-700 { @include background-color( blue, '--color-700' ) }
    &.clr-600 { @include background-color( blue, '--color-600' ) }
    &.clr-500 { @include background-color( blue, '--color-500' ) }
    &.clr-400 { @include background-color( blue, '--color-400' ) }
    &.clr-300 { @include background-color( blue, '--color-300' ) }
    &.clr-200 { @include background-color( blue, '--color-200' ) }
    &.clr-100 { @include background-color( blue, '--color-100' ) }
    &.clr-50  { @include background-color( blue, '--color-50' ) }
  }
  &.purple {
    @include background-color(purple, 'base');
    &.clr-900 { @include background-color( purple, '--color-900' ) }
    &.clr-800 { @include background-color( purple, '--color-800' ) }
    &.clr-700 { @include background-color( purple, '--color-700' ) }
    &.clr-600 { @include background-color( purple, '--color-600' ) }
    &.clr-500 { @include background-color( purple, '--color-500' ) }
    &.clr-400 { @include background-color( purple, '--color-400' ) }
    &.clr-300 { @include background-color( purple, '--color-300' ) }
    &.clr-200 { @include background-color( purple, '--color-200' ) }
    &.clr-100 { @include background-color( purple, '--color-100' ) }
    &.clr-50  { @include background-color( purple, '--color-50' ) }
  }
  &.pink {
    @include background-color(pink, 'base');
    &.clr-900 { @include background-color( pink, '--color-900' ) }
    &.clr-800 { @include background-color( pink, '--color-800' ) }
    &.clr-700 { @include background-color( pink, '--color-700' ) }
    &.clr-600 { @include background-color( pink, '--color-600' ) }
    &.clr-500 { @include background-color( pink, '--color-500' ) }
    &.clr-400 { @include background-color( pink, '--color-400' ) }
    &.clr-300 { @include background-color( pink, '--color-300' ) }
    &.clr-200 { @include background-color( pink, '--color-200' ) }
    &.clr-100 { @include background-color( pink, '--color-100' ) }
    &.clr-50  { @include background-color( pink, '--color-50' ) }
  }
  &.red {
    @include background-color(red, 'base');
    &.clr-900 { @include background-color( red, '--color-900' ) }
    &.clr-800 { @include background-color( red, '--color-800' ) }
    &.clr-700 { @include background-color( red, '--color-700' ) }
    &.clr-600 { @include background-color( red, '--color-600' ) }
    &.clr-500 { @include background-color( red, '--color-500' ) }
    &.clr-400 { @include background-color( red, '--color-400' ) }
    &.clr-300 { @include background-color( red, '--color-300' ) }
    &.clr-200 { @include background-color( red, '--color-200' ) }
    &.clr-100 { @include background-color( red, '--color-100' ) }
    &.clr-50  { @include background-color( red, '--color-50' ) }
  }
  &.yellow {
    @include background-color(yellow, 'base');
    &.clr-900 { @include background-color( yellow, '--color-900' ) }
    &.clr-800 { @include background-color( yellow, '--color-800' ) }
    &.clr-700 { @include background-color( yellow, '--color-700' ) }
    &.clr-600 { @include background-color( yellow, '--color-600' ) }
    &.clr-500 { @include background-color( yellow, '--color-500' ) }
    &.clr-400 { @include background-color( yellow, '--color-400' ) }
    &.clr-300 { @include background-color( yellow, '--color-300' ) }
    &.clr-200 { @include background-color( yellow, '--color-200' ) }
    &.clr-100 { @include background-color( yellow, '--color-100' ) }
    &.clr-50  { @include background-color( yellow, '--color-50' ) }
  }
  &.grey {
    @include background-color(grey, 'base');
    &.clr-900 { @include background-color( grey, '--color-900' ) }
    &.clr-800 { @include background-color( grey, '--color-800' ) }
    &.clr-700 { @include background-color( grey, '--color-700' ) }
    &.clr-600 { @include background-color( grey, '--color-600' ) }
    &.clr-500 { @include background-color( grey, '--color-500' ) }
    &.clr-400 { @include background-color( grey, '--color-400' ) }
    &.clr-300 { @include background-color( grey, '--color-300' ) }
    &.clr-200 { @include background-color( grey, '--color-200' ) }
    &.clr-100 { @include background-color( grey, '--color-100' ) }
    &.clr-50  { @include background-color( grey, '--color-50' ) }
    &.clr-40  { @include background-color( grey, '--color-40' ) }
    &.clr-30  { @include background-color( grey, '--color-30' ) }
    &.clr-20  { @include background-color( grey, '--color-20' ) }
  }
  &.white {
    @include color(white, 'base');
  }
}


//headings
.heading {
  $heading-type: (
    xlarge: var(--ds-headline-xl),
    large: var(--ds-headline-lg),
    medium: var(--ds-headline-md),
    standard: var(--ds-headline-std),
    small: var(--ds-headline-sm),
    xsmall: var(--ds-headline-xs),
  );

  font-family: var(--ds-font-family);

  @each $type, $size in $heading-type {
    &-#{$type} {
      font-size: $size;
    }
  }
}

//body text

.body {
  $body-type: (
    large: var(--ds-paragraph-lg),
    medium: var(--ds-paragraph-md),
    standard: var(--ds-paragraph-std),
    small: var(--ds-paragraph-sm),
    xsmall: var(--ds-paragraph-xs),
    xxsmall: var(--ds-paragraph-xs),
  );

  font-family: var(--ds-font-family);

  @each $type, $size in $body-type {
    &-#{$type} {
      font-size: $size;
    }
  }
}

//weight

.regular { font-weight: var(--ds-font-weight-default); }
.semibold { font-weight: var(--ds-font-weight-active); }
.bold { font-weight: var(--ds-font-weight-heading); }
.bolder { font-weight: var(--ds-font-weigh-strong); }

//line height

.lh {
  $lineHeight-type: (
    large: var(--ds-line-height-heading),
    medium: var(--ds-line-height-caption),
    small: var(--ds-line-height-tight),
    xsmall: var(--ds-line-height-default),
  );

  @each $type, $size in $lineHeight-type {
    &-#{$type} {
      line-height: $size;
    }
  }
}

//colors

.color {
  $color-type: (
    primary: var(--ds-color-text-primary),
    secondary: var(--ds-color-text-secondary),
    tertiary: var(--ds-color-text-tertiary),
    disabled: var(--ds-color-text-disabled),
    selected: var(--ds-color-text-selected),
    inverse: var(--ds-color-text-inverse),
    brand: var(--ds-color-text-brand),
    success: var(--ds-color-text-success),
    information: var(--ds-color-text-information),
    warning: var(--ds-color-text-warning),
    danger: var(--ds-color-text-danger),
    discovery: var(--ds-color-text-discovery),
  );

  @each $type, $color in $color-type {
    &-#{$type} {
      color: $color;
    }
  }
}


//icons sizes

.icon {
  --icon-lg: var(--ds-size-32);
  --icon-md: var(--ds-size-24);
  --icon-sm: var(--ds-size-20);
  --icon-xs: var(--ds-size-16);

  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  &--xsmall {
    font-size: var(--icon-xs);
  }
  &--small {
    font-size: var(--icon-sm);
  }
  &--medium {
    font-size: var(--icon-md);
  }
  &--large {
    font-size: var(--icon-lg);
  }
}

//scroll

.scrollbar {
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--grey-50) transparent;
  overflow: hidden;

  /* Works on Chrome, Edge, and Safari */

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 8px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey-50);
    border-radius: var(--border-radius-100);

  }

  &--vertical {
    overflow-y: scroll;

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 4px;

    }
  }

  &--horizontal {
    overflow-x: scroll;

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      height: 4px;
    }
  }
}

//flex

.flexbox {
  @include flexbox;
}

.flex-direction {
  &--column {
    @include flex-direction(column);
  }
  &--column-reverse {
    @include flex-direction(column-reverse);
  }
  &--row {
    @include flex-direction(row);
  }
  &--row-reverse {
    @include flex-direction(row-reverse);
  }
}

.flex-wrap {
  &--wrap {
    @include flex-wrap(wrap);
  }
  &--nowrap {
    @include flex-wrap(nowrap);
  }
}

.align-items {
  &--stretch {
    @include align-items(stretch);
  }
  &--start {
    @include align-items(flex-start);
  }
  &--center {
    @include align-items(center);
  }
  &--end {
    @include align-items(flex-end);
  }
}

.align-self {
  &--auto {
    @include align-items(auto);
  }
  &--start {
    @include align-items(flex-start);
  }
  &--center {
    @include align-items(center);
  }
  &--end {
    @include align-items(flex-end);
  }
}

.justify-content {
  &--start {
    @include justify-content(flex-start);
  }
  &--between {
    @include justify-content(space-between);
  }
  &--around {
    @include justify-content(space-around);
  }
  &--end {
    @include justify-content(flex-end);
  }
}

//width

.full-width {
  width: 100%;
}

//text alignment

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}