@use "sass:map";
@use "sass:meta";
@import "src/assets/styles/tokens/tokens";


//***** font sizes *****//

.fs-10 { @include font('--font-size-10'); }
.fs-12 { @include font('--font-size-12'); }
.fs-14 { @include font('--font-size-14'); }
.fs-16 { @include font('--font-size-16'); }
.fs-20 { @include font('--font-size-20'); }
.fs-24 { @include font('--font-size-24'); }
.fs-32 { @include font('--font-size-32'); }
.fs-36 { @include font('--font-size-36'); }
.fs-40 { @include font('--font-size-40'); }
.fs-48 { @include font('--font-size-48'); }
.fs-64 { @include font('--font-size-64'); }

//***** font weight *******//

.fw-400 { @include font-weight('--font-weight-400'); }
.fw-500 { @include font-weight('--font-weight-500'); }
.fw-600 { @include font-weight('--font-weight-600'); }
.fw-700 { @include font-weight('--font-weight-700'); }


//***** margin and padding *****//

$space-values: (
                0,
                4,
                8,
                12,
                16,
                24,
                32,
                auto
)!default;

//shorthands
$space-prefixes: (
                mt : margin-top,
                mr : margin-right,
                mb : margin-bottom,
                ml : margin-left,
                pt : padding-top,
                pr : padding-right,
                pb : padding-bottom,
                pl : padding-left,
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes {
    @each $value in $space-values {
      .#{$attr-short}-#{$value} {
        @if $value == 'auto' { /*add the @if loop*/
          #{$attr-long}: #{$value};
        } @else {
          #{$attr-long}: #{$value}#{'px'};
        }
      }
    }
  }
}

@include make-spaces();


//***** colors *******//

.text-color {
  &.brand {
    @include color(brand, 'base');
    &.clr-900 { @include color( brand, '--color-900' ) }
    &.clr-800 { @include color( brand, '--color-800' ) }
    &.clr-700 { @include color( brand, '--color-700' ) }
    &.clr-600 { @include color( brand, '--color-600' ) }
    &.clr-500 { @include color( brand, '--color-500' ) }
    &.clr-400 { @include color( brand, '--color-400' ) }
    &.clr-300 { @include color( brand, '--color-300' ) }
    &.clr-200 { @include color( brand, '--color-200' ) }
    &.clr-100 { @include color( brand, '--color-100' ) }
    &.clr-50  { @include color( brand, '--color-50' ) }
    &.clr-40  { @include color( brand, '--color-40' ) }
    &.clr-30  { @include color( brand, '--color-30' ) }
    &.clr-20  { @include color( brand, '--color-20' ) }
  }
  &.green {
    @include color(green, 'base');
    &.clr-900 { @include color( green, '--color-900' ) }
    &.clr-800 { @include color( green, '--color-800' ) }
    &.clr-700 { @include color( green, '--color-700' ) }
    &.clr-600 { @include color( green, '--color-600' ) }
    &.clr-500 { @include color( green, '--color-500' ) }
    &.clr-400 { @include color( green, '--color-400' ) }
    &.clr-300 { @include color( green, '--color-300' ) }
    &.clr-200 { @include color( green, '--color-200' ) }
    &.clr-100 { @include color( green, '--color-100' ) }
    &.clr-50  { @include color( green, '--color-50' ) }
  }
  &.blue {
    @include color(blue, 'base');
    &.clr-900 { @include color( blue, '--color-900' ) }
    &.clr-800 { @include color( blue, '--color-800' ) }
    &.clr-700 { @include color( blue, '--color-700' ) }
    &.clr-600 { @include color( blue, '--color-600' ) }
    &.clr-500 { @include color( blue, '--color-500' ) }
    &.clr-400 { @include color( blue, '--color-400' ) }
    &.clr-300 { @include color( blue, '--color-300' ) }
    &.clr-200 { @include color( blue, '--color-200' ) }
    &.clr-100 { @include color( blue, '--color-100' ) }
    &.clr-50  { @include color( blue, '--color-50' ) }
  }
  &.purple {
    @include color(purple, 'base');
    &.clr-900 { @include color( purple, '--color-900' ) }
    &.clr-800 { @include color( purple, '--color-800' ) }
    &.clr-700 { @include color( purple, '--color-700' ) }
    &.clr-600 { @include color( purple, '--color-600' ) }
    &.clr-500 { @include color( purple, '--color-500' ) }
    &.clr-400 { @include color( purple, '--color-400' ) }
    &.clr-300 { @include color( purple, '--color-300' ) }
    &.clr-200 { @include color( purple, '--color-200' ) }
    &.clr-100 { @include color( purple, '--color-100' ) }
    &.clr-50  { @include color( purple, '--color-50' ) }
  }
  &.pink {
    @include color(pink, 'base');
    &.clr-900 { @include color( pink, '--color-900' ) }
    &.clr-800 { @include color( pink, '--color-800' ) }
    &.clr-700 { @include color( pink, '--color-700' ) }
    &.clr-600 { @include color( pink, '--color-600' ) }
    &.clr-500 { @include color( pink, '--color-500' ) }
    &.clr-400 { @include color( pink, '--color-400' ) }
    &.clr-300 { @include color( pink, '--color-300' ) }
    &.clr-200 { @include color( pink, '--color-200' ) }
    &.clr-100 { @include color( pink, '--color-100' ) }
    &.clr-50  { @include color( pink, '--color-50' ) }
  }
  &.red {
    @include color(red, 'base');
    &.clr-900 { @include color( red, '--color-900' ) }
    &.clr-800 { @include color( red, '--color-800' ) }
    &.clr-700 { @include color( red, '--color-700' ) }
    &.clr-600 { @include color( red, '--color-600' ) }
    &.clr-500 { @include color( red, '--color-500' ) }
    &.clr-400 { @include color( red, '--color-400' ) }
    &.clr-300 { @include color( red, '--color-300' ) }
    &.clr-200 { @include color( red, '--color-200' ) }
    &.clr-100 { @include color( red, '--color-100' ) }
    &.clr-50  { @include color( red, '--color-50' ) }
  }
  &.yellow {
    @include color(yellow, 'base');
    &.clr-900 { @include color( yellow, '--color-900' ) }
    &.clr-800 { @include color( yellow, '--color-800' ) }
    &.clr-700 { @include color( yellow, '--color-700' ) }
    &.clr-600 { @include color( yellow, '--color-600' ) }
    &.clr-500 { @include color( yellow, '--color-500' ) }
    &.clr-400 { @include color( yellow, '--color-400' ) }
    &.clr-300 { @include color( yellow, '--color-300' ) }
    &.clr-200 { @include color( yellow, '--color-200' ) }
    &.clr-100 { @include color( yellow, '--color-100' ) }
    &.clr-50  { @include color( yellow, '--color-50' ) }
  }
  &.grey {
    @include color(grey, 'base');
    &.clr-900 { @include color( grey, '--color-900' ) }
    &.clr-800 { @include color( grey, '--color-800' ) }
    &.clr-700 { @include color( grey, '--color-700' ) }
    &.clr-600 { @include color( grey, '--color-600' ) }
    &.clr-500 { @include color( grey, '--color-500' ) }
    &.clr-400 { @include color( grey, '--color-400' ) }
    &.clr-300 { @include color( grey, '--color-300' ) }
    &.clr-200 { @include color( grey, '--color-200' ) }
    &.clr-100 { @include color( grey, '--color-100' ) }
    &.clr-50  { @include color( grey, '--color-50' ) }
    &.clr-40  { @include color( grey, '--color-40' ) }
    &.clr-30  { @include color( grey, '--color-30' ) }
    &.clr-20  { @include color( grey, '--color-20' ) }
  }
  &.white {
    @include color(white, 'base');
  }
}


//***** background color ******//

.bg-color {
  &.brand {
    @include background-color(brand, 'base');
    &.clr-900 { @include background-color( brand, '--color-900' ) }
    &.clr-800 { @include background-color( brand, '--color-800' ) }
    &.clr-700 { @include background-color( brand, '--color-700' ) }
    &.clr-600 { @include background-color( brand, '--color-600' ) }
    &.clr-500 { @include background-color( brand, '--color-500' ) }
    &.clr-400 { @include background-color( brand, '--color-400' ) }
    &.clr-300 { @include background-color( brand, '--color-300' ) }
    &.clr-200 { @include background-color( brand, '--color-200' ) }
    &.clr-100 { @include background-color( brand, '--color-100' ) }
    &.clr-50  { @include background-color( brand, '--color-50' ) }
    &.clr-40  { @include background-color( brand, '--color-40' ) }
    &.clr-30  { @include background-color( brand, '--color-30' ) }
    &.clr-20  { @include background-color( brand, '--color-20' ) }
  }
  &.green {
    @include background-color(green, 'base');
    &.clr-900 { @include background-color( green, '--color-900' ) }
    &.clr-800 { @include background-color( green, '--color-800' ) }
    &.clr-700 { @include background-color( green, '--color-700' ) }
    &.clr-600 { @include background-color( green, '--color-600' ) }
    &.clr-500 { @include background-color( green, '--color-500' ) }
    &.clr-400 { @include background-color( green, '--color-400' ) }
    &.clr-300 { @include background-color( green, '--color-300' ) }
    &.clr-200 { @include background-color( green, '--color-200' ) }
    &.clr-100 { @include background-color( green, '--color-100' ) }
    &.clr-50  { @include background-color( green, '--color-50' ) }
  }
  &.blue {
    @include background-color(blue, 'base');
    &.clr-900 { @include background-color( blue, '--color-900' ) }
    &.clr-800 { @include background-color( blue, '--color-800' ) }
    &.clr-700 { @include background-color( blue, '--color-700' ) }
    &.clr-600 { @include background-color( blue, '--color-600' ) }
    &.clr-500 { @include background-color( blue, '--color-500' ) }
    &.clr-400 { @include background-color( blue, '--color-400' ) }
    &.clr-300 { @include background-color( blue, '--color-300' ) }
    &.clr-200 { @include background-color( blue, '--color-200' ) }
    &.clr-100 { @include background-color( blue, '--color-100' ) }
    &.clr-50  { @include background-color( blue, '--color-50' ) }
  }
  &.purple {
    @include background-color(purple, 'base');
    &.clr-900 { @include background-color( purple, '--color-900' ) }
    &.clr-800 { @include background-color( purple, '--color-800' ) }
    &.clr-700 { @include background-color( purple, '--color-700' ) }
    &.clr-600 { @include background-color( purple, '--color-600' ) }
    &.clr-500 { @include background-color( purple, '--color-500' ) }
    &.clr-400 { @include background-color( purple, '--color-400' ) }
    &.clr-300 { @include background-color( purple, '--color-300' ) }
    &.clr-200 { @include background-color( purple, '--color-200' ) }
    &.clr-100 { @include background-color( purple, '--color-100' ) }
    &.clr-50  { @include background-color( purple, '--color-50' ) }
  }
  &.pink {
    @include background-color(pink, 'base');
    &.clr-900 { @include background-color( pink, '--color-900' ) }
    &.clr-800 { @include background-color( pink, '--color-800' ) }
    &.clr-700 { @include background-color( pink, '--color-700' ) }
    &.clr-600 { @include background-color( pink, '--color-600' ) }
    &.clr-500 { @include background-color( pink, '--color-500' ) }
    &.clr-400 { @include background-color( pink, '--color-400' ) }
    &.clr-300 { @include background-color( pink, '--color-300' ) }
    &.clr-200 { @include background-color( pink, '--color-200' ) }
    &.clr-100 { @include background-color( pink, '--color-100' ) }
    &.clr-50  { @include background-color( pink, '--color-50' ) }
  }
  &.red {
    @include background-color(red, 'base');
    &.clr-900 { @include background-color( red, '--color-900' ) }
    &.clr-800 { @include background-color( red, '--color-800' ) }
    &.clr-700 { @include background-color( red, '--color-700' ) }
    &.clr-600 { @include background-color( red, '--color-600' ) }
    &.clr-500 { @include background-color( red, '--color-500' ) }
    &.clr-400 { @include background-color( red, '--color-400' ) }
    &.clr-300 { @include background-color( red, '--color-300' ) }
    &.clr-200 { @include background-color( red, '--color-200' ) }
    &.clr-100 { @include background-color( red, '--color-100' ) }
    &.clr-50  { @include background-color( red, '--color-50' ) }
  }
  &.yellow {
    @include background-color(yellow, 'base');
    &.clr-900 { @include background-color( yellow, '--color-900' ) }
    &.clr-800 { @include background-color( yellow, '--color-800' ) }
    &.clr-700 { @include background-color( yellow, '--color-700' ) }
    &.clr-600 { @include background-color( yellow, '--color-600' ) }
    &.clr-500 { @include background-color( yellow, '--color-500' ) }
    &.clr-400 { @include background-color( yellow, '--color-400' ) }
    &.clr-300 { @include background-color( yellow, '--color-300' ) }
    &.clr-200 { @include background-color( yellow, '--color-200' ) }
    &.clr-100 { @include background-color( yellow, '--color-100' ) }
    &.clr-50  { @include background-color( yellow, '--color-50' ) }
  }
  &.grey {
    @include background-color(grey, 'base');
    &.clr-900 { @include background-color( grey, '--color-900' ) }
    &.clr-800 { @include background-color( grey, '--color-800' ) }
    &.clr-700 { @include background-color( grey, '--color-700' ) }
    &.clr-600 { @include background-color( grey, '--color-600' ) }
    &.clr-500 { @include background-color( grey, '--color-500' ) }
    &.clr-400 { @include background-color( grey, '--color-400' ) }
    &.clr-300 { @include background-color( grey, '--color-300' ) }
    &.clr-200 { @include background-color( grey, '--color-200' ) }
    &.clr-100 { @include background-color( grey, '--color-100' ) }
    &.clr-50  { @include background-color( grey, '--color-50' ) }
    &.clr-40  { @include background-color( grey, '--color-40' ) }
    &.clr-30  { @include background-color( grey, '--color-30' ) }
    &.clr-20  { @include background-color( grey, '--color-20' ) }
  }
  &.white {
    @include color(white, 'base');
  }
}


//headings

.heading {
  font-family: var(--ds-font-family);
  line-height: var(--ds-line-height-heading);
  font-weight: var(--ds-font-weight-default);

  &.semibold { font-weight: var(--ds-font-weight-active); }
  &.bold { font-weight: var(--ds-font-weight-heading); }

  &-xlarge {font-size: var(--ds-headline-xl);}
  &-large {font-size: var(--ds-headline-lg);}
  &-medium {font-size: var(--ds-headline-md);}
  &-standard {font-size: var(--ds-headline-std);}
  &-small {font-size: var(--ds-headline-sm);}
  &-xsmall {font-size: var(--ds-headline-xs);}
}

//body text
.body {
  font-family: var(--ds-font-family);
  font-weight: var(--ds-font-weight-default);
  line-height: var(--ds-line-height-default);

  &.semibold { font-weight: var(--ds-font-weight-active); }
  &.bold { font-weight: var(--ds-font-weight-heading); }
  &.bolder { font-weight: var(--ds-font-weigh-strong); }

  &.lh-small { line-height: var(--ds-line-height-tight); }
  &.lh-medium { line-height: var(--ds-line-height-caption); }
  &.lh-large { line-height: var(--ds-line-height-heading); }

  &-large {font-size: var(--ds-paragraph-lg);}
  &-medium {font-size: var(--ds-paragraph-md);}
  &-standard {font-size: var(--ds-paragraph-std);}
  &-small {font-size: var(--ds-paragraph-sm);}
  &-xsmall {font-size: var(--ds-paragraph-xs);}
  &-xxsmall {font-size: var(--ds-paragraph-xxs);}
}


//colors

.color-primary { color: var(--ds-color-text-primary); }
.color-secondary { color: var(--ds-color-text-secondary); }
.color-tertiary { color: var(--ds-color-text-tertiary); }
.color-disabled { color: var(--ds-color-text-disabled); }
.color-selected { color: var(--ds-color-text-selected); }
.color-inverse { color: var(--ds-color-text-inverse); }
.color-brand { color: var(--ds-color-text-brand); }
.color-danger { color: var(--ds-color-text-danger); }
.color-warning { color: var(--ds-color-text-warning); }
.color-success { color: var(--ds-color-text-success); }
.color-information { color: var(--ds-color-text-information); }
.color-discovery { color: var(--ds-color-text-discovery); }


//icons sizes and colors
.icon {
  &--xsmall {
    font-size: var(--font-size-12); //16px on design
  }
  &--small {
    font-size: var(--font-size-14); //20px on design
  }
  &--medium {
    font-size: var(--font-size-18); //24px on design
  }
  &--large {
    font-size: var(--font-size-24); //32px on design
  }
}

.icon {
  &--primary {color: var(--ds-color-text-primary); }
  &--secondary {color: var(--ds-color-text-secondary); }
  &--tertiary {color: var(--ds-color-text-tertiary); }
  &--disabled {color: var(--ds-color-text-disabled); }
  &--selected {color: var(--ds-color-text-selected); }
  &--inverse {color: var(--ds-color-text-inverse); }
  &--brand {color: var(--ds-color-text-brand); }
  &--danger {color: var(--ds-color-text-danger); }
  &--warning {color: var(--ds-color-text-warning); }
  &--success {color: var(--ds-color-text-success); }
  &--information {color: var(--ds-color-text-information); }
  &--discovery {color: var(--ds-color-text-discovery); }
}

