@import 'src/assets/styles/helpers/colors';
@import 'src/assets/styles/helpers/sizes';

.dialog{
    min-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_title{
        font-weight: 500;
        color: $black;
        font-size: $mediumTextSize;
        padding: 16px 24px;
        border-bottom: 1px solid #f2f2f2;
    }
    &_content{
        display: flex;
        flex-direction: column;
        padding: 24px;
    }
    &_content_title{
        color: $labelGray;
        font-size: $xSmallTextSize;
        margin-bottom: 3px;
    }
    &_content_text{
        color: $black;
        font-size: $largeTextSize; 
    }
    &_footer{
        padding: 0 40px 40px 40px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &_cancel_button{
        margin-right: 8px;
    }
}