@import "../../helpers/mixin";
@import "src/assets/styles/tokens/alias-tokens";


$ds-button-primary-background: $ds-color-bg-cta-primary-default;
$ds-button-primary-color: $ds-color-text-inverse;
$ds-button-primary-font-size: $ds-font-size-16;