@import 'src/assets/styles/helpers/colors';

.form_field_container{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    .with-error-styles{
        border: 1px solid $inputBorderError;
    }
}